.all_news_block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 48px 0;
}

.news_block {
    width: 456px;
    height: 458px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid var(--main-color-Grey2);
    border-radius: 24px;

    img {
        width: 100%;
    }
}

.news_data {
    display: flex;
    flex-direction: column;
    gap: 16px;
}