.benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding: 10px 0;
    width: 100%;
    flex-wrap: wrap;
}

.benefit_item {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: flex-start;
    background: var(--main-color-Grey1);
    border-radius: 24px;
    gap: 16px;
    max-width: 340px;
    width: 100%;

    h4 {
        text-wrap: wrap;
        max-width: 232px;
    }
}

@media screen and (max-width: 1200px) {
    .benefits {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 576px) {
    .benefits {
        grid-template-columns: 1fr;
    }
}