.contacts.wrapper {
    padding: 48px 0 128px 0;
}

.page_info {
    margin-bottom: 48px;
}

.photo_entry {
    margin-bottom: 64px;
    width: 100%;
}

.contacts_info {
    display: flex;
    column-gap: 64px;
    width: 100%;
}

.contacts_text {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
    padding: 21px 0;
}

.contacts_phone_mail, .contacts_address {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.contacts_feedback {
    height: 100%;
}

.entry_data {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.entry_data > label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin: 16px 0 4px 0;
}

.entry_data > input {
    padding: 0 14px;
    height: 44px;
    border-radius: 12px;
    border: 1px solid #D6D6D6;
}

.entry_data > textarea {
    padding: 10px 14px;
    height: 171px;
    border-radius: 12px;
    border: 1px solid #D6D6D6;
}

.btn_entry_data {
    margin-top: 16px;
    width: 100%;
    background: var(--Brand-Gradient);
    padding: 12px 24px;
    border-radius: 16px;
    border: none;
}

.img_map {
    /* background-image: url("../images/contacts_map.png"); */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1200px) {
    .contacts_info {
        flex-direction: column;
    }

    .img_map {
        height: calc(100vh);
        max-height: 636px;
    }
}

@media screen and (max-width: 768px) {
    .contacts.wrapper {
        padding: 32px 0;
    }

    .img_map {
        max-height: 538px;
    }
}

@media screen and (max-width: 576px) {
    .contacts.wrapper {
        padding: 16px 0 48px 0;
    }

    .page_info {
        margin-bottom: 16px;
    }

    .photo_entry {
        padding: 20px 0;
        margin: 0;
    }
    .img_map {
        max-height: 178px;
    }
}