/* .reviews {
    padding: 64px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.head_reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews_controls {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.reviews_control_left, .reviews_control_right {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color-Grey1);
    border-radius: 12px;
}

.review_items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.review_item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 20px;
    max-width: 456px;
    border-radius: 24px;
    border: 1px solid var(--main-color-Grey2);
}

.reviewer_info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: flex-start;
}

.reviewer_rate {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.preview_reviewed_device_photo {
    display: flex;
    align-items: center;
    column-gap: 16px;

    .img_container {
        max-width: 100px;
        max-height: 100px;
        background: var(--main-color-Grey1);
        border-radius: 20px;
        padding: 16px;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.btn_view_all_reviews {
    display: flex;
    justify-content: center;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 24px;
        border-radius: 16px;
        background: var(--main-color-Grey1);
        border: none;
        width: fit-content;
    }
}

@media screen and (max-width: 1200px) {
    .review_items {
        flex-direction: column;
    }

    .review_item {
        max-width: unset;
    }
} */



