.service.wrapper {
    padding: 48px 0;
}

.service {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.page_info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.select {
    max-width: 672px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    column-gap: 4px;
    background: var(--main-color-Grey1);
    border-radius: 20px;
}

.select input[type=radio] {
    display: none;
}

.select input[type=radio],
.device_type input[type=radio],
.device_year input[type=radio],
.device_model input[type=radio],
.state_device input[type=radio],
.state_display input[type=radio],
.memory_device input[type=radio] {
    display: none;
}

.select input[type=radio]:checked + label {
    background: var(--Brand-Gradient);
    padding: 12px 24px;
    width: 100%;
    border: none;
    color: var(--main-color-White);
    border-radius: 16px;
}

.select_radio {
    width: 100%;
}

.label_s {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.device_type,
.device_model {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    form {
        column-gap: 20px;
    }
}

.carousel_inner {
    display: flex;
    width: 100%;
    flex-direction: row;
    column-gap: 8px;
}
.carousel_state_device{
    display: flex;
    width: 100%;
}

.carousel_item_device_type,
.carousel_item_model_device {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;

    img {
        width: 100%;
    }
}

.carousel_item_device_type label {border: 3px solid transparent;}
.carousel_item_device_type label img {width: 140px; height: 140px;}

.device_type label,
.device_year label,
.state_device label,
.state_display label,
.memory_device label {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.device_type input[type=radio]:checked + label,
.device_model input[type=radio]:checked + label {
    border: 3px solid transparent;
    border-radius: 16px;
    background: linear-gradient(var(--main-color-Grey1), var(--main-color-Grey1)) padding-box,
    var(--Brand-Gradient) border-box;
}

.carousel_item_device_year,
.carousel_item_state_device,
.carousel_item_state_display,
.carousel_item_memory_device {
    width: 100%;
}

.device_year,
.state_device,
.state_display,
.memory_device {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    form {
        column-gap: 8px;
    }
}

.device_year label,
.state_device label,
.state_display label,
.memory_device label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.device_year input[type=radio]:checked + label,
.state_device input[type=radio]:checked + label,
.state_display input[type=radio]:checked + label,
.memory_device input[type=radio]:checked + label {
    border: 3px solid transparent;
    border-radius: 15px;
    background: linear-gradient(var(--main-color-Grey1), var(--main-color-Grey1)) padding-box,
    var(--Brand-Gradient) border-box;
}

.carousel_item_device_year label,
.carousel_item_state_device label,
.carousel_item_state_display label,
.carousel_item_memory_device label {
    max-width: 162px;
    padding: 10px;
    background: var(--main-color-Grey1);
    height: 50px;
}

.option_device {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    max-width: 672px;
}

.form_state_display {
    max-width: 332px;
}


.other_img > img {
    width: 100%;
}

.other_img input[type=radio] {
    display: none;
}

form {
    display: flex;
    column-gap: 16px;
}

.carousel_item_service {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    justify-content: center;
}

.other_img label {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    user-select: none;
}

.other_img input[type=radio]:checked + label {
    border: 3px solid transparent;
    border-radius: 20px;
    background: linear-gradient(var(--main-color-Grey1), var(--main-color-Grey1)) padding-box,
    var(--Brand-Gradient) border-box;
}

.repair_price.wrapper {
    padding: 64px 0;
    width: 1408px;
    margin: 0 auto;
}

.repair_price {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.carousel_items_repair_price {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.carousel_items_repair_price_block1,
.carousel_items_repair_price_block2,
.carousel_items_repair_price_block3 {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.carousel_items_repair_price_block1 input[type=radio],
.carousel_items_repair_price_block2 input[type=radio],
.carousel_items_repair_price_block3 input[type=radio] {
    display: none;
}

.carousel_item_repair_price input[type=radio]:checked + label {
    border: 3px solid transparent;
    border-radius: 20px;
    background: linear-gradient(var(--main-color-Grey1), var(--main-color-Grey1)) padding-box,
    var(--Brand-Gradient) border-box;

    .btn_select_list {
        display: none;
    }

    .btn_select_list_checked {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.form {
    display: flex;
    column-gap: 20px;
}

.carousel_item_repair_price {
    height: 260px;
    background: var(--main-color-Grey1);
    border-radius: 24px;
}

.label_r {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.glass_price {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.price_repair_price {
    display: flex;
    column-gap: 8px;
}

.crossed_price {
    text-decoration: line-through;
}

.mobile_service {
    display: flex;
    column-gap: 8px;
}

.white_back {
    padding: 4px 8px;
    border-radius: 12px;
    background: var(--main-color-White);
}

.btn_select_list {
    padding: 12px 24px;
    width: 100%;
    background: var(--Brand-Gradient);
    border: none;
    color: var(--main-color-White);
    border-radius: 16px;
}

.btn_select_list_checked {
    padding: 12px 24px;
    border-radius: 16px;
    width: 100%;
    border: none;
    background: var(--main-color-White);
    color: var(--main-color-Black);
    display: none;
}

@media screen and (max-width: 1600px) {
    .carousel_item_service:nth-child(n+8) {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .carousel_item_service:nth-child(n+5) {
        display: none;
    }

    .carousel_item_device_year label > h5 {
        font-size: 14px;
    }

    .other_img > form {
        justify-content: space-between;
    }

    .form {
        column-gap: 15px;
    }

    .carousel_item_repair_price:nth-child(n+3) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .carousel_item_service:nth-child(n+4) {
        display: none;
    }

    .carousel_item_device_year:nth-child(n+7) {
        display: none;
    }
    .carousel_state_device,
    .carousel_item_model_device{
        column-gap: 8px;
    }
}

@media screen and (max-width: 576px) {
    .select_radio {
        display: flex;
        flex-direction: column;
    }

    .select input[type=radio]:checked + label {
        width: 100%;
    }

    .label_s {
        padding: 12px 24px;
        width: 100%;
    }

    .carousel_item_device_type:nth-child(n+3) {
        display: none;
    }

    .carousel_inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
        row-gap: 8px;
    }

    .carousel_item_device_year:nth-child(n+7) {
        display: inherit;
    }

    .carousel_item_model_device:nth-child(n+5) {
        display: none;
    }

    .device_model {
        display: none;
    }

    .type_device {
        display: flex;
        justify-content: space-between;
    }

    .carousel_item_service:nth-child(n+3) {
        display: none;
    }



    .carousel_items_repair_price_block1 > form,
    .carousel_items_repair_price_block2 > form,
    .carousel_items_repair_price_block3 > form {
        flex-direction: column;
        row-gap: 20px;
    }

    .carousel_items_repair_price {
        row-gap: 20px;
    }

    .repair_price.wrapper {
        padding: 16px 0;
    }

    .service.wrapper {
        padding: 0;
    }
}


/* ВРЕМЕННЫЙ АПДЕЙТ */
.carousel_items_repair_price_block_main {display: block; width: 100%;}
.carousel_item_repair_price_block {display: inline-block; width: 25%; float: left; padding: 10px; border: none; background-color: transparent;}
.carousel_item_repair_price_block input {display: none;}
.carousel_item_service img {width: 140px; height: 140px;}

@media all and (max-width: 1200px)
{
    .carousel_item_repair_price_block {width: 50%;}
}

@media all and (max-width: 576px)
{
    .carousel_item_repair_price_block {width: 100%;}
}


