/*-------------------card----------------------*/
.card {
    /* padding-top: 16px; */
    
}
.card>div[id^="comp_"] {
    padding-bottom: 16px;
}
.card_price .select_with_resty .part_price {
    display: grid;
    align-items: center;
    gap: 16px;
}
.card_price .select_with_resty .part_price .month {
    min-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    background: var(--main-color-Grey1);
    border-radius: 12px;
    font-weight: 600;
}

.part_price__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.part_price__wrapper > * {
    margin-right: 16px;
}

.card_price .select_with_resty .full_price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    position: relative;
    z-index: 1;
    margin-right: 8px;
}
.popup_about_resty__price {
    display: grid;
    grid-row-gap: 16px;
}
.card_price .select_with_resty .full_price .percent_60,
.card_price .select_with_resty .full_price .percent_70 {
    display: none;
}
.card_price .select_with_resty .full_price.resty_12 .percent_60 {
    display: block;
}
.card_price .select_with_resty .full_price.resty_12 .percent_70 {
    display: none;
}
.card_price .select_with_resty .full_price.resty_24 .percent_70 {
    display: block;
}
.card_price .select_with_resty .full_price.resty_24 .percent_60 {
    display: none;
}
.swiper_card__img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
}
.card_price .color_bar {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 12px;
}
.card_price .color_bar {
    position: relative;
    /* background: var(--main-color-Grey1); */
    overflow: hidden;
}
.card_price .color_bar.percent_60::before {
    position: absolute;
    content: "";
    width: 40%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--main-color-White);
    z-index: -1;
}
.card_price .color_bar.percent_60::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: var(--Brand-Gradient2);
    z-index: -1;
}
.card_price .color_bar.percent_70::before {
    position: absolute;
    content: "";
    width: 30%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--main-color-White);
    z-index: -1;
}
.card_price .color_bar.percent_70::after {
    position: absolute;
    content: "";
    width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: var(--Brand-Gradient2);
    z-index: -1;
}
.card_price .color_bar span.percent_60 {
     color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, white 0%, white 60%, black 60%, black 100%);
}
.card_price .color_bar span.percent_70 {
    color: transparent;    
   -webkit-background-clip: text;
   background-clip: text;
   background-image: linear-gradient(to right, white 0%, white 70%, black 70%, black 100%);
}
.card_price .work img {
    width: 18px;
    margin-right: 10px;
}
.block_content .select_buy_now {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: var(--main-color-Grey1);
}
.card_price__top {
    display: grid;
    grid-row-gap: 4px;
    background-color: var(--main-color-Grey1);
    border-radius: 20px;
    padding: 8px 10px;
}

.card_price__top-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-row-gap: 8px;
}
.card_price__top .card_price__month {
    margin-right: 8px;
}
.total-amount-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-row-gap: 8px;
}
.card_price__month {
    padding: 4px 8px;
    border-radius: 12px;
    background-color: var(--main-color-White);
}
.total-amount {
    margin-right: 8px;
}
.icon {
    fill: currentColor;
    display: block;
}

.icon--size-xl {
    width: 24px;
    height: 24px;
}


.color_btn__icon {
    margin-right: 10px;
    flex-shrink: 0;
}

.button-popup-about-resty {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: var(--Brand-Gradient);
    border: none;
    background-color: transparent;
    align-self: start;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.card-price-select-with-resty {
    display: grid;
    grid-row-gap: 12px;
}
.card-price-info {
    display: grid;
    grid-row-gap: 8px;
}
.card-price-info__number {
    margin-left: 5px;
    margin-right: 5px;
}
.card-price-info__list {
    display: grid;
    grid-row-gap: 8px;
}

.card-price-info__text {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--main-color-Black);
}

.card-price-info__text:active {
    -webkit-tap-highlight-color: transparent;
}

.js-card-price-info-button--is-active::after {
    transform: rotate(180deg);
}

.card-price-info__caption {
    font-weight: 600;
}

.card-price-info__value {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.card-price-info-progress {
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: var(--main-color-White);
    border-radius: 12px;

}

.card-price-info-progress--theme-1 {
    background-image: var(--Brand-Gradient);
}

.card-price-info-progress--theme-2 {
    background-image: var(--Brand-Gradient2);
}

.card-price-info__item {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    padding: 12px 16px;
    background-color: var(--main-color-Grey1);
}

.card-price-info__item--last {
    flex-wrap: wrap;
}
.card-price-info__item-value {
    display: flex;
    gap: 16px;
}

.card-price-info__ico {
    width: 24px;
    flex-shrink: 0;
}

.card_switcher .switcher {
    width: 100%;
    background: var(--main-color-Grey1);
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    border-radius: 20px;
}
.card_switcher .switcher span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    min-height: 48px;
    border-radius: 16px;
    background: var(--main-color-White);
    cursor: pointer;
    transition: 0.2s;
    color: var(--main-color-Black);
}
.card_switcher .switcher span:hover {
    background: var(--main-color-Grey1-hover);
}
.card_switcher .switcher span.active {
    color: var(--main-color-White);
    background: var(--Brand-Gradient);
}
.card_switcher .switcher span.active:hover {
    background: var(--Brand-Gradient-Hover);
}

.switcher_tabs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.switcher_tabs .button-popup-about-resty {

    margin-bottom: 8px;
}

.card_img {
    width: 100%;
}
.card_img .swiper_card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    background: var(--main-color-Grey1);
}
.card_img .main_img .swiper_card {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.swiper-card-pagination {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    --swiper-pagination-bullet-inactive-color: var(--main-color-Grey2);
    --swiper-pagination-color: var(--Brand-Gradient);

}
.card_img .main_img .swiper_card .swiper-wrapper .swiper-slide {
    padding-top: 73%;
}
.swiper_card__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_img .main_img .swiper_card .swiper-wrapper .swiper-slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.card_img .main_img .swiper_card .swiper-wrapper .swiper-slide a img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    /* width: 100%;
    height: 100%; */
    object-fit: contain;
    border-radius: 20px;
}

.swiper_card_preview {
    overflow: hidden;
    /* width: 100%;
    height: 100%; */
}
/* .swiper_card_preview .swiper-wrapper .swiper-slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.swiper_card_preview .swiper-wrapper .swiper-slide a img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
} */

.swiper_card_preview .swiper-wrapper .swiper-slide .item  {
    background: var(--main-color-Grey1);
    border-radius: 20px;
}
.swiper_card_preview .swiper-wrapper .swiper-slide .item > div {
    height: 106px;
    aspect-ratio: 1/1;
    padding: 0;
    /* border: 1px solid var(--main-color-Grey2); */
    border-radius: 20px;
    overflow: hidden;
}
.swiper_card_preview .swiper-wrapper .swiper-slide .item.active > div {
    padding: 0;
    border: 3px solid transparent;
    background: linear-gradient(var(--main-color-White), var(--main-color-White)) content-box, var(--Brand-Gradient) border-box;
}
.swiper_card_preview .swiper-wrapper .swiper-slide .item > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_img .gallery_img {
    display: none;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 5px;
}
.card_img .gallery_img .swiper-slide .item {
    flex: none;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.card_img .gallery_img .swiper-slide.active .item {
    padding: 0;
}
.swiper_card_preview:not(.swiper-initialized) .swiper-slide {
    flex-shrink: 1;
    margin-right: 10px;
}
.card_img .gallery_img .swiper-slide .item > div {
    width: 100%;
    height: 100%;
    padding: 0;
    /* border: 1px solid var(--main-color-Grey2); */
    border: 1px solid transparent;
    border-radius: 20px;
    overflow: hidden;
}
.card_img .gallery_img .swiper-slide.active .item > div {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 3px solid transparent;
    background: linear-gradient(var(--main-color-White), var(--main-color-White)) content-box, var(--Brand-Gradient) border-box;
}
.card_img .gallery_img .swiper-slide .item > div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* .card .card_how_work {
    margin-top: 16px;
    background: var(--main-color-Grey1);
    border-radius: 20px;
    padding: 8px;
    display: flex;
    gap: 12px;
}
.card .card_how_work .video {
    width: 110px;
    height: 85px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color-White);
    cursor: pointer;
}
.card .card_how_work .video img {
    width: 24px;
}
.card .card_how_work .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.card .card_how_work .desc .video_time {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
} */





/* .how_works {
    margin-top: 32px;
    border: 1px solid var(--main-color-Grey2);
    border-radius: 24px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.how_works .how_works_video a {
    display: flex;
    gap: 12px;
    background: var(--main-color-Grey1);
    padding: 8px;
    border-radius: 20px;
    transition: 0.2s;
}
.how_works .how_works_video a:hover {
    background: var(--main-color-Grey1-hover);
}
.how_works .how_works_video .video {
    flex: none;
    position: relative;
    width: 110px;
    height: 85px;
    border-radius: 16px;
}
.how_works .how_works_video .video::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    background: url(../../icons/play-circle.svg) no-repeat;
}
.how_works .how_works_video .desc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.how_works .how_works_faq a {
    display: flex;
    gap: 12px;
    background: var(--main-color-Grey1);
    padding: 8px;
    border-radius: 20px;
    transition: 0.2s;
}
.how_works .how_works_faq a:hover {
    background: var(--main-color-Grey1-hover);
}
.how_works .how_works_faq .img {
    flex: none;
    position: relative;
    width: 110px;
    height: 85px;
    border-radius: 16px;
    background: var(--main-color-White);
}
.how_works .how_works_faq .img::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    background: url(../../icons/message-square.svg) no-repeat;
}
.how_works .how_works_faq .desc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
} */

.how_works {
    border: 1px solid var(--main-color-Grey2);
    border-radius: 24px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.how_works .how_works_video a {
    display: flex;
    gap: 12px;
    /* background: var(--main-color-Grey1); */
    /* padding: 8px; */
    border-radius: 20px;
    transition: 0.2s;
}
.how_works .how_works_video a:hover {
    background: var(--main-color-Grey1-hover);
}
.how_works .how_works_video .video {
    flex: none;
    position: relative;
    width: 110px;
    height: 85px;
    border-radius: 16px;
}
.how_works .how_works_video .video::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    background: url(../../icons/play-circle.svg) no-repeat;
    z-index: 2;
}

.how_works .how_works_video .video::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    background: hsla(0, 0%, 96%, 0.7);
    border-radius: inherit;
}
.how_works .how_works_video .desc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.how_works .how_works_faq a {
    display: flex;
    gap: 12px;
    background: var(--main-color-Grey1);
    padding: 8px;
    border-radius: 20px;
    transition: 0.2s;
}
.how_works .how_works_faq a:hover {
    background: var(--main-color-Grey1-hover);
}
.how_works .how_works_faq .img {
    flex: none;
    position: relative;
    width: 110px;
    height: 85px;
    border-radius: 16px;
    background: var(--main-color-White);
}
.how_works .how_works_faq .img::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    background: url(../../icons/message-square.svg) no-repeat;
}
.how_works .how_works_faq .desc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}



.card .card_body form {
    display: grid;
    grid-row-gap: 12px;
}
.card .card_item {
    width: 100%;
}

.annotation {
    display: block;
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: var(--main-color-Grey3);
    border-left: 1px solid var(--main-color-Grey3);
}
.wrap_radio {
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(104px,1fr));
}
.wrap_radio .form_radio input[type=radio] {
    display: none;
}
.wrap_radio .form_radio input[type=radio] + label {
    position: relative;
    display: grid;
    justify-items: center;
    padding: 6px 5px 6px;
    align-items: center;
    gap: 2px;
    min-height: 60px;
    width: 100%;
    background-color: var(--main-color-White);
    border: 1px solid var(--main-color-Grey2);
    border-radius: 15px;
    cursor: pointer;
}
.wrap_radio .form_radio input[type=radio]:checked + label {
    padding: 4px 4px 4px;
}
.wrap_radio .form_radio input[type=radio]:hover + label {
    background-color: var(--main-color-Grey1-hover);
}
.wrap_radio .form_radio input[type=radio] + label .color {
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid var(--main-color-Grey2);
}
.wrap_radio .form_radio input[type=radio] + label img {
    display: none;
}
.wrap_radio .form_radio input[type=radio]:disabled + label {
    border: 1px solid transparent;
    cursor: default;
}

.wrap_radio .form_radio input[type=radio]:disabled:hover + label {
    background: var(--main-color-Grey1);
}
.wrap_radio .form_radio input[type=radio] + label .cost {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: var(--main-color-Grey3);
    text-align: center;
}
.wrap_radio .form_radio input[type=radio]:disabled + label {
    background: linear-gradient(var(--main-color-Grey1), var(--main-color-Grey1)) padding-box, var(--main-color-Grey1) border-box;
}
.wrap_radio .form_radio input[type=radio]:disabled + label img,
.wrap_radio .form_radio input[type=radio]:disabled+ label .cost_ {
    display: none;
}
.wrap_radio .form_radio input[type=radio]:disabled:checked + label img{
    display: none;
}
.wrap_radio .form_radio input[type=radio]:disabled:checked + label{
    background: linear-gradient(var(--main-color-Grey1), var(--main-color-Grey1)) padding-box, var(--Brand-Gradient) border-box;
}
.wrap_radio .form_radio input[type=radio]:checked + label {
    border: 3px solid transparent;
    background: linear-gradient(var(--main-color-White), var(--main-color-White)) padding-box, var(--Brand-Gradient) border-box;
}
.wrap_radio .form_radio input[type=radio]:checked:not(:disabled):hover + label {
    background: linear-gradient(var(--main-color-Grey1-hover), var(--main-color-Grey1)) padding-box, var(--Brand-Gradient) border-box;
}
.wrap_radio .form_radio input[type=radio]:checked + label img {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
}
.wrap_radio .form_radio input[type=radio]:checked:not(:disabled) + label .cost {
    display: none;
}

.wrap_radio .form_radio.rassrochka input[type=radio] + label .def {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid var(--main-color-Grey2);
    margin-top: 4px;
    margin-bottom: 4px;
}
.wrap_radio .form_radio input[type=radio] + label .def,
.wrap_radio .form_radio.rassrochka input[type=radio]:checked + label .def {
    display: none;
}
.card .card_summary .wrap_summary {
    border: 1px solid var(--main-color-Grey2);
    border-radius: 24px;
    padding: 16px;
}
.card .card_summary .wrap_summary .summary_table {
    margin-top: 16px;
}
.card .block_content {
    display: grid;
    grid-row-gap: 12px;
    align-content: start;
}
.card .card_summary .wrap_summary .summary_table .table_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid var(--main-color-Grey2);
}
.purchase-method {
    display: grid;
    grid-row-gap: 12px;
    padding: 16px;
    border: 1px solid var(--main-color-Grey2);
    border-radius: 24px;
}
.card .card_summary .wrap_summary .summary_table .table_item:first-child {
    border-top: 1px solid var(--main-color-Grey2);
}
.card .card_summary .wrap_summary .summary_table .table_item .param_value {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 32px;
    background: var(--main-color-Grey1);
    border-radius: 12px;
    padding: 0 8px;
}
.card_summary .wrap_summary .summary_btn {
    margin-top: 16px;
    width: 100%;
}

.whateverYouChooseforWrapCSS .fancybox-skin {
    background: white;
  }

.card .block_card .block_img {
    min-width: 100%;
}

.card>div[id^="comp_"] .block_card {
    display: grid;
    gap: 24px;
}
.advantage {
    display: grid;
    grid-row-gap: 16px;
}
.advantage-list {
    display: grid;
    grid-gap: 16px;
}
.advantage-list__item {
    display: grid;
    grid-row-gap: 16px;
    align-content: start;
    padding: 24px;
    border-radius: 24px;
    background-color: var(--main-color-Grey1);
}
@media (min-width: 640px) {
    .advantage-list {
        grid-template-columns: 1fr 1fr;
    }
    .popup_about_resty__price {
        display: flex;
        align-items: center;
    }

    .popup_about_resty__sum {
        margin-left: 16px;
        font-weight: 600;
    }

    .modal.about_resty .modal_content .card-price-info__progress {
        margin-left: 16px;
    }
    .modal.about_resty .modal_content .modal_form_content_window .info .item .left {
        display: flex;
        align-items: center;
    }
    .card_price .select_with_resty .part_price {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width:768px) {
    .advantage-list {
        grid-template-columns: repeat(4, 1fr);
    }
    .swiper_card_img {
        display: grid;
        grid-row-gap: 16px;
    }

    .swiper_card_img .main_img {
        min-width: 0;
    }
    .part_price__wrapper .month {
        margin-left: 0;
    }
    .card>div[id^="comp_"] {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .card>div[id^="comp_"] .block_card {
        grid-template-columns: 1fr 1fr;
    }
    .card>div[id^="comp_"] .block_card .block_img .inn {
        position: sticky;
        top: 96px;
    }

    .card>div[id^="comp_"] .card_head {grid-area: card_head;}
    .card>div[id^="comp_"] .card_img {
        margin-top: 0;
    }

    .swiper_card__img {
        border-radius: 20px;
    }
    
    .card .head_page {
        padding-top: 0;
        padding-bottom: 16px;
    }
    .card_img .gallery_img {
        display: block;
    }

    .swiper-card-pagination {
        display: none;
    }
}

@media (min-width: 1024px) {
    .part_price__wrapper {
        display: flex;
    }
}
@media (min-width: 1200px) {
    .card>div[id^="comp_"] .block_card {
        grid-column-gap: 64px;
    }
    .wrap_radio {
        grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
    }
    .purchase-method,
    .card-price-select-with-resty {
        grid-row-gap: 16px;
    }
}
/*-------------------card end----------------------*/

/*-------------------card property----------------------*/
.card .property {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card .property .body .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 16px 0;
    border-bottom: 1px solid var(--main-color-Grey2);
}
.card .property .body .item:first-child {
    border-top: 1px solid var(--main-color-Grey2);
}
.card .property .body .item > div:first-child {
    font-weight: 600;
}
@media only screen and (min-width:768px) {
    .card .property {
        padding-top: 64px;
        padding-bottom: 64px;
        gap: 24px;
    }
    .card .property .body .item {
        gap: 48px;
    }
    .card_img .gallery_img {
        padding-bottom: 0;
    }
}
/*-------------------card property end----------------------*/


/*-------------------accessory card----------------------*/
.card.accessory .accessory_card_summary {
    margin-top: 24px;
}
@media only screen and (min-width:700px) {
    .card.accessory>div[id^="comp_"] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content;
        /* grid-template-rows: minmax(min-content, 1fr); */
        column-gap: 64px;
        grid-template-areas: 
        "card_img head_page"
        "card_img card_price"
        "card_img card_body"
        "card_img .";
    }
    .card.accessory>div[id^="comp_"] .head_page {grid-area: head_page;}
    .card.accessory>div[id^="comp_"] .card_price {grid-area: card_price;}
    .card.accessory>div[id^="comp_"] .card_img {grid-area: card_img;}
    .card.accessory>div[id^="comp_"] .card_body {grid-area: card_body;}

    .card.accessory>div[id^="comp_"] .card_item,
    .card.accessory>div[id^="comp_"] .accessory_card_summary {
        margin-top: 32px;
    }
    .card.accessory>div[id^="comp_"] .card_img {
        margin-top: 0;
        overflow: hidden;
    }
    .card.accessory>div[id^="comp_"] .card_img .main_img {
        aspect-ratio: 1/1;
    }
}
/*-------------------accessory card end----------------------*/