/*-------------------upd_catalog_all----------------------*/
.upd_catalog_all .upd_catalog_all_head {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.upd_catalog_all .upd_catalog_all_body {
    padding: 16px 0;
}
.upd_catalog_all .upd_catalog_all_body .wrap_content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    gap: 12px;
}
.upd_catalog_all .upd_catalog_all_body .wrap_content .item {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: 20px;
    background: var(--main-color-Grey1);
    height: 100px;
}
.upd_catalog_all .upd_catalog_all_body .wrap_content .item:last-child {
    grid-column: 1 / -1;
}
.upd_catalog_all .upd_catalog_all_body .wrap_content .item .img {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
}
.upd_catalog_all .upd_catalog_all_body .wrap_content .item .img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
@media only screen and (min-width:600px) {
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item {
        /* width: calc(50% - 12px); */
    }
}
@media only screen and (min-width:768px) {
    .upd_catalog_all .upd_catalog_all_body .wrap_content {
        /* display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item {
        
        flex-direction: column;
        gap: 24px;
        min-height: 394px;
        min-width: 200px;
        max-width: 455px;
        width: 100%;
        aspect-ratio: unset;
        align-items: stretch;
    }
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item:nth-child(4),
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item:nth-child(5) {
        max-width: 650px;
    }
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item:last-child {
        grid-column: unset;
    }
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item .img {
        aspect-ratio: none;
        height: 300px;
    }
}
/*-------------------upd_catalog_all end----------------------*/

/*-------------------accessory----------------------*/
@media only screen and (min-width:768px) {
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item:nth-child(4),
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item:nth-child(5) {
        max-width: 455px;
    }
}
/*-------------------accessory end----------------------*/