/*-------------------goods_inline----------------------*/
.goods_inline {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.goods_inline .body .wrap_items {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(154px,1fr));
    gap: 8px;
}
@media only screen and (min-width:768px) {
    .goods_inline {
        padding-top: 64px;
        padding-bottom: 64px;
        gap: 32px;
    }
    .goods_inline .body .wrap_items {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }
}
/*-------------------goods_inline end----------------------*/