/*-------------------header----------------------*/
body {
    position: relative;
}
header {
    /* position: absolute; */
    /* position: relative; */
    /* position: absolute;
    display: block;
    z-index: 20; */
    /* padding-top: 68px; */
    /* background: rgba(0, 0, 0, 0.7);
    width: 100%;
    top: 0;
    left: 0; */
    /* width: 100%; */

    /* right: 0; */
    /* transform: translateX(100%); */
}
header .mob {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    background: white;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    padding: 0 16px;
    border-bottom: 1px solid var(--main-color-Grey1);
}
header .mob .h_logo_mob {
    width: 140px;
    display: flex;
    align-items: center;
    
    /* background: white; */
}
header .mob .h_system_mob {
    /* width: 150px; */
    display: flex;
    align-items: center;
    z-index: 20;
    /* background: yellow; */
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    /* background: white; */
}
header .mob .h_system_mob a {
    width: 44px;
    height: 44px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color-Grey1);
    transition: 0.2s;
}
header .mob .h_system_mob a:hover {
    background: var(--main-color-Grey1-hover);
}

header .mob .h_system_mob .burger .close {
    display: block;
}
header .mob .h_system_mob .burger .open {
    display: none;
}
header.open .mob .h_system_mob .burger .close {
    display: none;
}
header.open .mob .h_system_mob .burger .open {
    display: block;
}
header .mob .h_system_mob .cart {
    position: relative;
}
header .mob .h_system_mob .cart .cart_items {
    position: absolute;
    top: -6px;
    right: -9px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 20px;
    width: unset;
    min-width: 23px;
    padding: 0 7px;
    color: var(--main-color-White);
    background: var(--Brand-Gradient);
    border-radius: 16px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
}
header .mob .h_system_mob .cart .cart_items:empty {
    display: none;
}


header .wrap_h_all {
    /* display: none; */
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    /* width: 100%; */
    /* top: 0;
    left: 0; */
    z-index: 18;
    background: rgba(0, 0, 0, 0.7);
    /* width: 100%;
    height: 100%;
    right: -100%; */
    /* border: 4px solid green; */
    justify-content: flex-end;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s;
    
}
header.open .wrap_h_all {
    opacity: 1;
    
    /* transform: translateX(0); */
    /* transition: transform 0.5s; */

    
    /* right: 0; */
    /* display: block;
    display: flex;
    justify-content: flex-end;
    right: 0; */
}
@keyframes animate_grow {
	0% {
		transform: translateX(-100%);
        /* opacity: 0; */
	}
	100% {
		transform: translateX(0);
        /* opacity: 1; */
	}
}
header .wrap_h_all .wrap_h_all_in {
    position: relative;
    /* right: 0; */
    /* right: -100%; */
    display: block;
    width: 100%;
    max-width: 460px;
    /* height: calc(100% - 80px); */
    /* height: calc(100% - 148px); */
    height: 100%;
    background: white;
    /* right: -100%; */
    transition: 1s;
    /* border: 2px solid blue; */
    overflow: hidden;
    padding-bottom: 80px;
    padding-top: 68px;
    opacity: 0;
    transform: translateX(100%);
    /* animation: animate_grow 0.6s;
    animation-fill-mode: both; */
    z-index: 21;
}
header.open .wrap_h_all {
    width: 100%;
    height: 100%;
    
}
header.open .wrap_h_all .wrap_h_all_in {
    opacity: 1;
    /* right: 0; */
    /* transition: 1s; */
    transform: translateX(0);
    /* height: 100%; */
    /* padding-top: 68px; */
}

header .wrap_h_all .h_head {
    /* position: fixed;
    top: 68px;
    left: 0;
    right: 0; */
    /* display: none; */
    width: 100%;
    height: 80px;
    padding: 16px;
    padding-top: 68px;

    /* height: 80px;
    width: 100%;
    max-width: 460px; */
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-areas: 
    "h_head_phone h_head_nets"
    "h_head_info h_head_nets";
    justify-content: space-between;
    align-content: center;
    padding: 0 16px;
    transition: 0.2s;
    flex: none;
    /* display: none; */
}
header .wrap_h_all .h_head .h_head_info {grid-area: h_head_info;}
header .wrap_h_all .h_head .h_head_nets {grid-area: h_head_nets;}
header .wrap_h_all .h_head .h_head_phone {grid-area: h_head_phone;}
header .wrap_h_all .h_head .h_head_info .schedule {
    display: none;
}
header .wrap_h_all .h_head .h_head_nets {
    display: flex;
    align-items: center;
}
header .wrap_h_all .h_head .h_head_nets .in {
    display: flex;
    gap: 12px;
    padding-left: 12px;
    border-left: 1px solid var(--main-color-Grey2);
}
header .wrap_h_all .h_head .h_head_nets a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
header .wrap_h_all .h_head .h_head_nets a img {
    height: 32px;
}


header .wrap_h_all .h_body .h_logo,
header .wrap_h_all .h_body .h_system {
    display: none;
}
header .wrap_h_all .wrap_h_body {
    position: relative;
    width: 100%;
    height: calc(100% - 68px);
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    /* background: red; */
}
header .wrap_h_all .wrap_h_body .h_body {
    /* padding: 0 0 80px; */
    width: 100%;
    height: 100%;
    /* background: red; */
    /* margin-top: 80px; */
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu {
    width: 100%;
    height: 100%;
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0 16px;
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding-right: 6px;
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul > li {
    position: relative;
    /* min-height: 56px; */
    border-bottom: 1px solid var(--main-color-Grey2);
    width: 100%;
    display: block;
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul > li:first-child {
    border-top: 1px solid var(--main-color-Grey2);
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul > li > a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul > li > .menu__arrow {
    position: absolute;
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 36px;
    top: 0;
    right: 0;
    background: url(../../icons/chevron-down.svg) no-repeat center center;
    background-size: contain;
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul > li > .menu__arrow {
    position: absolute;
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 36px;
    top: 0;
    right: 0;
    background: url(../../icons/chevron-down.svg) no-repeat center center;
    background-size: contain;
    /* transition: 0.2s; */
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul > li > .menu__arrow.active {
    transform: scaleY(-1);
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul > li > ul.sub-menu {
    display: none;
    
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul > li > ul.sub-menu.open {
    display: block;
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul > li > ul.sub-menu > .wrap_in {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 8px;
    padding-bottom: 24px;
    border-radius: 24px;
    
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul > li > ul.sub-menu.open > .wrap_in {
    width: 100%;
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul > li > ul.sub-menu > .wrap_in > li {
    width: 100%;
    
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul > li > ul.sub-menu > .wrap_in > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 70px;
    border-radius: 24px;
    background-color: var(--main-color-Grey1);
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul > li > ul.sub-menu > .wrap_in > li > a > div {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul > li > ul.sub-menu > .wrap_in > li > a > div > img {
    display: inline-block;
    height: 100%;
    object-fit: contain;
}
header .wrap_h_all .wrap_h_body .h_body .wrap_menu nav > ul.menu_ul .h_body .wrap_menu nav > ul.menu_ul > li .sub-menu {
    /* display: none; */
}
header .wrap_h_all .h_body .h_backcall {
    /* position: fixed; */
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
    display: flex;
    align-items: center;
}
header.open {
    /* transform: translateX(0); */
}
/* body.black_bg::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
} */
header .wrap_h_all {
    /* position: relative;
    width: 100%;
    max-width: 460px;
    height: 100%;
    background: blue;
    transform: translateX(100%); */
    /* position: fixed;
    left: 100%;
    width: 100%;
    top: 68px;
    height: calc(100% - 68px);
    z-index: 20; */
    /* transition: 1s; */
}
header.open .wrap_h_all {
    /* transform: translateX(0); */
}
header .wrap_h_all .wrap_h_head {
    /* display: none; */
}
/* header .wrap_h_all::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0);
    opacity: 0;
} */

/* header .wrap_h_all .wrap_h_body {
    position: relative;
    background: red;
}
header .wrap_h_all .wrap_h_body .h_body {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: blue;
    z-index: 20;
    transform: translateX(100%);
    transition: 1s;
}
header .wrap_h_all .wrap_h_body.open .h_body {
    transition: translateX(100%);
}
header .wrap_h_all .wrap_h_body .h_body .h_logo {
    position: fixed;
    top: 0;
    left: 0;
    height: 68px;
    padding: 0 16px;
    width: 140px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--main-color-Grey1);
    z-index: 20;
    background: yellow;
}


header .wrap_h_all .wrap_h_body .h_body .h_system {
    position: fixed;
    top: 0;
    right: 0;
    height: 68px;
    padding: 0 16px;
    width: 150px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--main-color-Grey1);
    z-index: 20;
    background: yellow;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
} */



