/*-------------------buy_your_equipment----------------------*/
.buy_your_equipment {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.buy_your_equipment .content {
    position: relative;
    width: 100%;
    max-width: 460px;
    background-image: linear-gradient(99.81deg, #410000 -26.13%, #FA1300 17.35%, #FF9243 92.33%, #FF8C6A 107.8%);
    border-radius: 24px;
    padding: 16px 16px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 0 4px 122px 9px rgba(160, 15, 15, 0.3);
}

.buy_your_equipment .content::after {
    content: "";
    width: 220px;
    height: 145px;
    background: url(../../images/img_buy_your_eq.png) no-repeat;
    background-size: contain;
    align-self: center;
}
.buy_your_equipment .content .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--main-color-White);
}
.buy_your_equipment .content .text .desc {
    font-size: 16px;
    line-height: 24px;
}
.buy_your_equipment .content .btn a {
    padding-left: 18px;
    padding-right: 18px;
}
@media only screen and (min-width:768px) {
    .buy_your_equipment {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .buy_your_equipment .content {
        height: unset;
        min-height: 340px;
        max-width: unset;
        justify-content: center;
        padding: 48px 0 48px 48px;
    }
    .buy_your_equipment .content::after {
        width: 340px;
        height: 223px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .buy_your_equipment .content .text {
        max-width: 560px;
        position: relative;
        z-index: 1;
    }
    .buy_your_equipment .content .btn a {
        padding-left: 24px;
        padding-right: 24px;
        position: relative;
        z-index: 1;
    }
}
@media (min-width: 1200px) {
    .buy_your_equipment .content::after {
        width: 520px;
        height: 340px;
    }
}
/*-------------------buy_your_equipment end----------------------*/