/*-------------------contacts_page----------------------*/
.contacts_page .contacts_img {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
}
.contacts_page .contacts_img .in {
    width: 100%;
    aspect-ratio: 328/176;
    border-radius: 24px;
    overflow: hidden;
}
.contacts_page .contacts_img .in img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacts_page .contacts_info {
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contacts_page .contacts_info .contacts_text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contacts_page .contacts_info .contacts_text .contacts_phone_mail,
.contacts_page .contacts_info .contacts_text .contacts_address {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.contacts_page .contacts_info .contacts_text .contacts_feedback {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contacts_page .contacts_info .contacts_text .contacts_feedback form label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 4px;
}
.contacts_page .contacts_info .contacts_text .contacts_feedback form input {
    width: 100%;
    height: 44px;
    border: 1px solid #D6D6D6;
    border-radius: 12px;
    padding: 0 14px;
    outline: none;
    transition: 0.2s;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}
.contacts_page .contacts_info .contacts_text .contacts_feedback form input:hover {
    border: 1px solid var(--main-color-Grey3);
}
.contacts_page .contacts_info .contacts_text .contacts_feedback form textarea {
    width: 100%;
    height: 44px;
    border: 1px solid #D6D6D6;
    border-radius: 12px;
    padding: 8px 14px;
    outline: none;
    transition: 0.2s;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    min-height: 171px;
    margin-bottom: 12px;
}
.contacts_page .contacts_info .contacts_text .contacts_feedback form textarea:hover {
    border: 1px solid var(--main-color-Grey3);
}

.contacts_page .contacts_info .img_map {
    width: 100%;
    aspect-ratio: 328/178;
    border-radius: 24px;
    overflow: hidden;
}
.contacts_page .contacts_info .img_map iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: none;
}

[class*="copyrights-pane"] {
    display: none !important;
}
[class*="ground-pane"] {
    filter: grayscale(1);
}
@media only screen and (min-width:768px) {
    .contacts_page .contacts_img {
        padding-bottom: 64px;
    }
    .contacts_page .contacts_img .in {
        aspect-ratio: 1408/494;
    }

    .contacts_page .contacts_info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px;
        padding-bottom: 128px;
    }
    .contacts_page .contacts_info .contacts_text {
        padding-bottom: 20px;
    }
    .contacts_page .contacts_info .img_map {
        aspect-ratio: unset;
    }
}
/*-------------------contacts_page end----------------------*/