/*-------------------header----------------------*/
header {
    position: relative;
    width: 100%;
    height: 68px;
}
header .wrap {
    /* padding-top: 12px;
    padding-bottom: 12px; */
    position: absolute;
    /* border-bottom: 1px solid var(--main-color-Grey1); */
    /* height: 68px; */
    top: 0;
    left: 0;
    right: 0;
    
}
header.open {
    height: 100%;
}
header.open .wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* height: 100%; */
    background: rgba(0, 0, 0, 0.5);
}
header.open .wrap::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 100%;
    height: 68px;
    background: white;
    border-bottom: 1px solid var(--main-color-Grey1);
    z-index: 1;
}
header .wrap .h_bg {
    position: absolute;
    top: 68px;
    right: -100%;
    right: 0;
    height: 100%;
    /* height: 100%; */
    /* top: 68px;
    right: -100%;
    bottom: 0; */
    width: 100%;
    max-width: 460px;
    /* height: 100%; */
    background: white;
    transition: 0.5s;
    
}
header .wrap .h_bg .h_bg_in {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header.open .wrap .h_bg {
    right: 0;
}
header .wrap .h_head {
    height: 80px;
    width: 100%;
    max-width: 460px;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-areas: 
    "h_head_phone h_head_nets"
    "h_head_info h_head_nets";
    justify-content: space-between;
    align-content: center;
    padding: 0 16px;
    transition: 0.2s;
}
header.open .wrap .h_head {
    /* right: 0; */
}
header .wrap .h_head .h_head_info {grid-area: h_head_info;}
header .wrap .h_head .h_head_nets {grid-area: h_head_nets;}
header .wrap .h_head .h_head_phone {grid-area: h_head_phone;}
header .wrap .h_head .h_head_info .schedule {
    display: none;
}
header .wrap .h_head .h_head_nets {
    display: flex;
    align-items: center;
}
header .wrap .h_head .h_head_nets .in {
    display: flex;
    gap: 12px;
    padding-left: 12px;
    border-left: 1px solid var(--main-color-Grey2);
}
header .wrap .h_head .h_head_nets a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
header .wrap .h_head .h_head_nets a img {
    height: 32px;
}

header .wrap .h_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



header .wrap .h_body .h_logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 68px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    z-index: 2;
}
header .wrap .h_body {
    /* position: fixed;
    
    top: 148px; */
    right: 0;
    /* right: 16px; */
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* width: calc(100% - 32px); */
    height: calc(100% - 228px);
    /* max-width: 460px; */
    /* background: rgba(0, 0, 0, 0.5); */
}
header .wrap .h_body nav {
    /* position: absolute; */
    /* right: -100%; */
    height: 100%;
    width: 100%;
    max-width: 460px;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 6px;
    /* background: white; */
    padding: 0 16px;
}
header.open .wrap .h_body nav {
    /* right: 0; */
}
header .wrap .h_body nav ul {
    list-style: none;
}
header .wrap .h_body nav ul.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
header .wrap .h_body nav ul.menu > li {
    height: 56px;
    border-bottom: 1px solid var(--main-color-Grey2);
    width: 100%;
    display: flex;
    /* padding-right: 24px; */
}
header .wrap .h_body nav ul.menu > li:first-child {
    border-top: 1px solid var(--main-color-Grey2);
}
header .wrap .h_body nav ul.menu > li > a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background: red; */
}
header .wrap .h_body nav ul.menu > li > .menu__arrow {
    flex: none;
    display: flex;
    height: 100%;
    width: 36px;
    background: blue;
}
header .wrap .h_body nav ul.menu > li > ul.sub-menu {
    display: none;
}


header .wrap .h_body .h_backcall {
    position: relative;
    height: 80px;
    width: 100%;
    max-width: 460px;
    background: var(--main-color-Grey1);
    display: flex;
    align-items: center;
    padding: 0 16px;
    
}

header .wrap .h_body .h_system {
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 68px;
    z-index: 2;
}
header .wrap .h_body .h_system a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: var(--main-color-Grey1);
    border-radius: 12px;
}
header .wrap .h_body .h_system a img {
    height: 24px;
}
@media only screen and (min-width:1000px) {

}
/*-------------------header end----------------------*/


