/*-------------------benefit----------------------*/
.benefit {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.benefit .item {
    position: relative;
    width: 100%;
    background: var(--main-color-Grey1);
    border-radius: 24px;
    min-height: 62px;
    padding: 0 16px 0 92px;
    display: flex;
    align-items: center;
    width: 100%;
}
.benefit .item img {
    position: absolute;
    top: calc(50% - 12px);
    left: 34px;
}
@media only screen and (min-width:768px) {
    .benefit {
        padding-top: 10px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width:1200px) {
    .benefit {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/*-------------------benefit end----------------------*/