/*-------------------popup_form----------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(99, 99, 99, 0.6);
    padding: 16px;
}
.modal .modal_content {
    width: 100%;
    max-width: 470px;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--main-color-White);
    margin: auto;
    padding: 16px;
    border-radius: 24px;
}
.modal .modal_content .modal_form_content_window {
    padding: 40px 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.modal .modal_content .modal_form_content_window p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.modal .modal_content .modal_form_content_window .form_body form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.modal .modal_content .modal_form_content_window .form_body form .item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.modal .modal_content .modal_form_content_window .form_body form .item input {
    width: 100%;
    height: 44px;
    border: 1px solid #D6D6D6;
    border-radius: 12px;
    padding: 0 14px;
    outline: none;
    transition: 0.2s;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.modal .modal_content .modal_form_content_window .form_body form .item input:hover {
    border: 1px solid var(--main-color-Grey3);
}
.modal .modal_content .modal_form_content_window .form_body form .item textarea {
    width: 100%;
    height: 44px;
    border: 1px solid #D6D6D6;
    border-radius: 12px;
    padding: 8px 14px;
    outline: none;
    transition: 0.2s;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    min-height: 260px;
}
.modal .modal_content .modal_form_content_window .form_body form .btn button {
    width: 100%;
    height: 48px;
    background: var(--Brand-Gradient);
    color: var(--main-color-White);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}
.modal .modal_content .modal_form_content_window .form_body form .btn button:hover {
    background: var(--Brand-Gradient-Hover);
}

.modal .modal_content .modal_form_content_window .form_body form .item .list {
    border-radius: 16px;
    border: 1px solid var(--main-color-Grey2);
    padding: 16px;
}
.modal .modal_content .modal_form_content_window .form_body form .item .list .list_item {
    padding: 12px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: center;
}
.modal .modal_content .modal_form_content_window .form_body form .item .list .list_item:not(:first-child) {
    border-top: 1px solid var(--main-color-Grey2);
}
.modal .modal_content .modal_form_content_window .form_body form .item .list .list_item:first-child {
    padding-top: 0;
}
.modal .modal_content .modal_form_content_window .form_body form .item .list .list_item:last-child {
    padding-bottom: 0;
}
.modal .modal_content .modal_form_content_window .form_body form .item .list .list_item:last-child {
    border-bottom: none;
}
.modal .modal_content .modal_form_content_window .form_body form .item .list .list_item span:last-child {
    text-align: right;
}
.modal .modal_content .modal_form_content_window .form_body form .item .list .list_item span:last-child > span {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 12px;
    background: var(--main-color-Grey1);
}



.rating-area {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 44px;
    height: 32px;
    background: url(../../icons/star_gray.svg) no-repeat;
    background-size: contain;
	cursor: pointer;
}
.rating-area > input:checked ~ label {
    background: url(../../icons/star_color.svg) no-repeat;
    background-size: contain;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    background: url(../../icons/star_color.svg) no-repeat;
    background-size: contain;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    background: url(../../icons/star_color.svg) no-repeat;
    background-size: contain;
}
.rate-area > label:active {
	position: relative;
}



.input-file {
	position: relative;
	display: inline-block;
    width: 100%;
}
.input-file span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    width: 100%;
    min-height: 148px;
    background: var(--main-color-Grey1);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}
.input-file span .capt {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}
.input-file span .desc {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #A2A2A2;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/Active */
.input-file:hover span {
    background-color: #EEEEEE;
}
.input-file:active span {
	/* background-color: #2E703A; */
    /* background: var(--main-color-Grey1); */
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}
 
/* Список файлов */
.input-file-list {
	padding-top: 16px;
}
.input-file-list:empty {
    padding: 0;
}
.input-file-list-item {
	margin-bottom: 10px;
}
.input-file-list-item:last-child {
    margin-bottom: 0;
}
.input-file-list-remove {
    display: inline-block;
    margin-left: 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}



.modal .modal_content .modal_form_finish_window .in {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* padding: 98px 16px 42px; */
    padding: 108px 0 98px;
    text-align: center;
}
.modal .modal_content .modal_form_finish_window .in img {
    width: 44px;
}
.modal .modal_content .modal_form_finish_window .in .msg {
    font-size: 16px;
    line-height: 24px;
}
.modal .modal_content .form_close {
    position: absolute;
    top: 16px;
    right: 16px;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../../icons/x.svg) no-repeat;
    cursor: pointer;
}
@media only screen and (min-width:768px) {
    .modal .modal_content {
        padding: 32px;
    }
    .modal .modal_content .modal_form_finish_window {
        display: none;
    }
    .modal .modal_content .modal_form_finish_window .in {
        padding: 82px 0;
    }
    .modal .modal_content .form_close {
        top: 32px;
        right: 32px;
    }
}
/*-------------------popup_form end----------------------*/

/*-------------------popup_form_faq----------------------*/
.modal.modal_form_faq .modal_content {
    width: 100%;
    max-width: 1000px;
}
.modal .modal_content .modal_form_content_window .form_faq {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.modal .modal_content .modal_form_content_window .form_faq details summary {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    cursor: pointer;
}
/*-------------------popup_form_faq end----------------------*/

/*-------------------popup_video----------------------*/
.modal.modal_video_form {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(99, 99, 99, 0.6);
    padding: 0;
}
.modal.modal_video_form .modal_content {
    padding: 0;
    position: unset;
    border-radius: 0;
    width: 100%;
    max-width: 1454px;
    aspect-ratio: 708/398;
}
.modal.modal_video_form .modal_video_content {
    position: relative;
    padding-top: 56.5%;
}
.modal.modal_video_form .modal_video_content iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.modal.modal_video_form .form_close {
    position: absolute;
    content: "";
    display: block;
    top: 10px;
    right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background: var(--main-color-Grey1) url(../../icons/x.svg) no-repeat center center;
    z-index: 10;
    cursor: pointer;
}
/*-------------------popup_video end----------------------*/


/*-------------------popup_card----------------------*/
.modal.modal_card .modal_content {
    width: 100%;
    max-width: 1276px;
    padding: 16px;
}
.modal.modal_card .modal_content .modal_form_content_window {
    padding: 0;
}
.modal.modal_card .modal_content .modal_form_content_window > div {
    /* display: flex;
    flex-direction: column;
    gap: 16px; */
}
.modal.modal_card .modal_content .modal_form_content_window .card_img .main_img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-Grey1);
    height: 250px;
    border-radius: 20px;
}
.modal.modal_card .modal_content .modal_form_content_window .card_img .main_img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: inherit;
}
.modal.modal_card .modal_content .modal_form_content_window .card_body form .wrap_radio {
    display: flex;
    flex-wrap: wrap;
}
.modal.modal_card .modal_content .modal_form_content_window .card_body form .wrap_radio .form_radio {
    min-width: 144px;
    text-align: center;
}
.modal.modal_card .modal_content .modal_form_content_window .card_body form .wrap_radio .form_radio input[type=radio]:disabled + label .cost {
    display: block;
}
.modal.modal_card .modal_content .modal_form_content_window .gallery_img {
    width: 100%;
}
.modal.modal_card .modal_content .modal_form_content_window .gallery_img .swiper_card_preview {
    width: 100%;
}
.modal.modal_card .modal_content .modal_form_content_window .gallery_img .swiper_card_preview .swiper-wrapper {
    width: 100%;
}


/* .card_img .main_img .swiper_cart {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.card_img .main_img .swiper_cart .swiper-wrapper .swiper-slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.card_img .main_img .swiper_cart .swiper-wrapper .swiper-slide a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.popup_cart__add,
.popup_cart__info {
    display: grid;
    grid-gap: 16px;
}

.popup_cart__add .popup_cart__purchase-method {
    padding-right: 10px;
    padding-left: 10px;
}
.popup_cart__info {
    align-content: start;
}
.popup_cart__title {
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    word-break: break-word;
    padding-right: 30px;
}
.popup_cart__add .card_switcher .switcher span {
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 767px) {
    .popup_cart__add {
        padding-top: 40px;
    }
}
@media only screen and (min-width:768px) {
    .popup_cart__add .popup_cart__purchase-method {
        padding-right: 16px;
        padding-left: 16px;
    }
    .popup_cart__add .card_switcher .switcher span {
        padding-left: 10px;
        padding-right: 20px;
    }
    .popup_cart__add {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 24px;
    }
    .modal.modal_card .modal_content .modal_form_content_window .card_img .main_img {
        height: initial;
    }
    .modal.modal_card .modal_content {
        padding: 24px;
    }

    .modal.modal_card .modal_content .modal_form_content_window > div .head_page {
        padding: 0 40px 0 0;
    }
    .modal.modal_card .modal_content .modal_form_content_window > div .card_switcher {
        margin-top: 0;
    }
    .modal.modal_card .modal_content .modal_form_content_window > div .card_body .card_item:first-child{
        margin-top: 0;
    }

    .modal.modal_card .form_close {
        top: 24px;
        right: 24px;
    }
}
/*-------------------popup_card end----------------------*/

/*-------------------about_resty----------------------*/
.modal.about_resty .modal_content {
    width: 100%;
    max-width: 886px;
}
.modal.about_resty .modal_content .modal_form_content_window .about_resty_video {
    position: relative;
    padding-top: 43.8%;
    border-radius: 16px;
    overflow: hidden;
}
.modal.about_resty .modal_content .modal_form_content_window .about_resty_video .iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.modal.about_resty .modal_content .modal_form_content_window .about_resty_video .iframe iframe {
    width: 100%;
    height: 100%;
}
.modal.about_resty .modal_content .modal_form_content_window .about_resty_video .video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal.about_resty .modal_content .modal_form_content_window .about_resty_video .video::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    background: hsla(0, 0%, 96%, 0.7);
    border-radius: inherit;
}
.modal.about_resty .modal_content .modal_form_content_window .about_resty_video .video span {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-left: 30px;
    background: var(--main-color-White) url(../../icons/icon_play.svg) no-repeat 57% 50%;
    z-index: 25;
}
.modal.about_resty .modal_content .modal_form_content_window .capt {
    /* padding: 16px 0; */
}
.modal.about_resty .modal_content .modal_form_content_window .info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.modal.about_resty .modal_content .modal_form_content_window .info .item {
    display: grid;
    row-gap: 16px;
}
.modal.about_resty .modal_content .modal_form_content_window .info .item .left {
    background: var(--main-color-Grey1);
    border-radius: 16px;
    padding: 8px 16px;
    width: 100%;
    display: grid;
    grid-row-gap: 16px;
}
.modal.about_resty .modal_content .modal_form_content_window .info .item .left img {
    flex: none;
    width: 24px;
    flex-shrink: 0;
    margin-right: 16px;
}
.modal.about_resty .modal_content .modal_form_content_window .info .item .left span {
    font-weight: 600;
    line-height: 20px;
}
.modal.about_resty .modal_content .modal_form_content_window .info .item_dop {
    display: flex;
    align-items: center;
    gap: 24px;
    background: var(--main-color-Grey1);
    border-radius: 16px;
    padding: 12px 16px;
}
.modal.about_resty .modal_content .modal_form_content_window .info .item_dop img {
    width: 24px;
}
.modal.about_resty .modal_content .modal_form_content_window .info .item_dop .right p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}
.popup_cart__add .select_buy_now {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: var(--main-color-Grey1);

}
.modal-how-works {
    display: grid;
    grid-row-gap: 22px;
    justify-items: center;
    background-color: var(--main-color-Grey1);
    border-radius: 16px;
    padding: 16px 4px;
}

.modal-how-works__body {
    display: grid;
    grid-template-columns: 142px 142px;
    grid-column-gap: 4px;
    justify-content: center;
}
.modal-how-works-item {
    min-height: 279px;
    border: 4px solid var(--main-color-Grey2);
    background-color: var(--main-color-White);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 28px;
}

.modal-how-works-item__top,
.modal-how-works-item__center {
    display: grid;
    justify-items: center;
    grid-row-gap: 10px;
    text-align: center;
}

.modal-how-works-item__top::before {
    content: '';
    width: 52px;
    height: 15px;
    border-radius: 20px;
    background-color: var(--main-color-Grey1);
}
.modal-how-works__month {
    padding: 4px 8px;
    background-color: var(--main-color-Grey1);
    border-radius: 14px;
}
.modal-how-works__price {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.modal-how-works__text {
    text-align: center;
}
.modal-how-works-item--accent {
    border: 4px solid transparent;

    background: linear-gradient(var(--main-color-White), var(--main-color-White)) padding-box, var(--Brand-Gradient) border-box;
}
.modal-how-works__period-body {
    position: relative;
    background-image: var(--Brand-Gradient);
    padding: 8px 16px;
    border-radius: 40px;
    text-align: center;
    z-index: 20;
}
.modal-how-works__period--mobile {
    position: relative;
}

.modal-how-works__period--mobile::before,
.modal-how-works__period--mobile::after {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
}
.modal-how-works__period--mobile::before {
    right: 100%;
    top: 20px;
    width: 25px;
    height: 27px;
    background-image: url(../../icons/start-arrow.svg);
}
.modal-how-works__period--mobile::after {
    left: 100%;
    top: 20px;
    width: 27px;
    height: 22px;
    background-image: url(../../icons/end-arrow.svg);
}
.modal-how-works__period--desk {
    display: none;
}
.modal-how-works__center {
    display: none;
}
@media only screen and (min-width:768px) {
    .modal-how-works {
        padding: 44px 10px;
        justify-items: initial;
    }
    .modal-how-works__body {
        align-items: center;
        grid-template-columns: 200px 1fr 200px;
    }
    .modal-how-works__period--mobile {
        display: none;
    }
    .modal-how-works__period--desk {
        display: block;
    }
    .modal-how-works__center {
        position: relative;
        display: grid;
        justify-items: center;
    }
    .modal-how-works-item {
        min-height: 443px;
        border-radius: 32px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .modal-how-works__price {
        font-size: 20px;
        line-height: 30px;
    }
    .modal-how-works__period--desk {
        margin-left: 18px;
        margin-right: 18px;
    }
    .modal-how-works__period--desk::before,
    .modal-how-works__period--desk::after {
        position: absolute;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        top: 50%;
        transform: translateY(-50%);
    }
    .modal-how-works__period--desk::before {
        left: 0;
        width: 64px;
        height: 11px;
        background-image: url(../../icons/start-arrow-desk.svg);
    }
    .modal-how-works__period--desk::after {
        right: 1px;
        width: 59px;
        height: 15px;
        background-image: url(../../icons/end-arrow-desk.svg);
    }
    .modal.about_resty .modal_content .modal_form_content_window .info {
        gap: 32px;
    }
}

@media (min-width: 840px) {
    .modal-how-works {
        padding-right: 32px;
        padding-left: 32px;
    }
    .modal-how-works__body {
        grid-column-gap: 15px;
        grid-template-columns: 212px 1fr 212px;
    }
}

.modal__body {
    display: grid;
    justify-items: center;
    gap: 16px;
    padding: 108px 0 98px;
    text-align: center;
}

.modal__ico {
    width: 44px;
}

@media (min-width: 768px) {
    .modal__body {
        padding: 82px 0;
    }
}
/*-------------------about_resty end----------------------*/

/*-------------------modal_review----------------------*/
/* .modal_review .modal_content .modal_form_content_window  */
/*-------------------modal_review end----------------------*/