/*-------------------accessory_inline----------------------*/
.accessory_inline {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.accessory_inline .body .wrap_items {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(158px,1fr));
    gap: 12px;
}
@media only screen and (min-width:768px) {
    .accessory_inline {
        padding-top: 64px;
        padding-bottom: 64px;
        gap: 32px;
    }
    .accessory_inline .body .wrap_items {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(214px,1fr));
        gap: 12px;
    }
}
/*-------------------accessory_inline end----------------------*/