/*-------------------text_inline----------------------*/
.text_inline {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
}
.text_inline .content {
    width: 100%;
    max-width: 896px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.text_inline .content h3,
.text_inline .content p {
    margin-bottom: 16px;
}
.text_inline .content p:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width:768px) {
    .text_inline {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
/*-------------------text_inline end----------------------*/