/*-------------------popup_form----------------------*/
.no_scroll {
    overflow: hidden;
}
.h1 {
    color: #101828;
}
.h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}
.h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.wrap {
    padding: 16px;
    margin: 0 auto;
    max-width: 1440px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #636363;
    padding: 16px;
}
.modal .modal_content {
    width: 100%;
    max-width: 470px;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--main-color-White);
    margin: auto;
    padding: 72px 32px 32px;
    border-radius: 24px;
}
.modal .modal_content p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.modal .modal_content .form_body form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.modal .modal_content .form_body form .item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.modal .modal_content .form_body form .item input {
    width: 100%;
    height: 44px;
    border: 1px solid #D6D6D6;
    border-radius: 12px;
    padding: 0 14px;
    outline: none;
    transition: 0.3s;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.modal .modal_content .form_body form .item input:hover {
    border: 1px solid var(--main-color-Grey3);
}
.modal .modal_content .form_body form .btn button {
    width: 100%;
    height: 48px;
    background: var(--Brand-Gradient);
    color: var(--main-color-White);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}
.modal .modal_content .form_body .form_close {
    position: absolute;
    top: 32px;
    right: 32px;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../icons/x.svg) no-repeat;
    cursor: pointer;
}
/*-------------------popup_form end----------------------*/