/*-------------------about_resty----------------------*/
.resty_algorithm {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.resty_algorithm .resty_steps h2 {
    padding-top: 32px;
    padding-bottom: 32px;
}
.resty_algorithm .resty_steps {
    border-top: 1px solid var(--main-color-Grey2);
}
.steps {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(328px,1fr));
    gap: 16px;
}
.step_item {
    background: var(--main-color-Grey1);
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 280px;
}
.step_number {
    font-size: 75px;
    line-height: 1;
    font-weight: 600;
    background: var(--Brand-Gradient);background: linear-gradient(99.81deg, #410000 -26.13%, #FA1300 17.35%, #FF9243 92.33%, #FF8C6A 107.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resty_algorithm .resty_benefits {
    border-top: 1px solid var(--main-color-Grey2);
}
.resty_algorithm .resty_benefits h2 {
    padding-top: 32px;
    padding-bottom: 16px;
}
.resty_algorithm .resty_benefits .benefits {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(328px,1fr));
    gap: 16px;
}
.resty_algorithm .resty_benefits .benefits .resty_benefit_item {
    background: var(--main-color-Grey1);
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 238px;
}
.resty_algorithm .resty_benefits .benefits .resty_benefit_item img {
    height: 42px;
}

.about_resty .about_us {
    width: 100%;
    aspect-ratio: 328/176;
    border-radius: 16px;
    overflow: hidden;
}
.about_resty .about_us img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (min-width:768px) {
    .resty_algorithm {
        padding-top: 64px;
        padding-bottom: 64px;
        gap: 64px;
    }
    .resty_algorithm .resty_steps h2 {
        padding-top: 64px;
    }
    .resty_algorithm .resty_benefits h2 {
        padding-top: 64px;
        padding-bottom: 32px;
    }

    .about_resty .about_us {
        aspect-ratio: 1408/494;
    }
}
/*-------------------about_resty end----------------------*/