/*-------------------upd_reviews----------------------*/
.upd_reviews .wrap_items_reviews {
    padding-top: 16px;
    /* padding-bottom: 16px; */
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.upd_reviews .add_reviews_btn {
    padding-bottom: 16px;
}
@media only screen and (min-width:768px) {
    .upd_reviews .wrap_items_reviews {
        padding: 16px 0 64px;
    }
    .upd_reviews .add_reviews_btn {
        padding-bottom: 32px;
    }
    .upd_reviews .add_reviews_btn span {
        width: unset;
        display: inline-flex;
    }
}
@media only screen and (min-width:1200px) {
    .upd_reviews .wrap_items_reviews {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(440px,1fr));
        gap: 20px;
    }
}
/*-------------------upd_reviews end----------------------*/