/*-------------------footer----------------------*/
footer {
    background: var(--main-color-Grey1);
}
footer .wrap {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
footer .wrap .head {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
footer .wrap .body {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
footer .wrap .body a:hover {
    background-image: var(--Brand-Gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
footer .wrap .body .f_info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
footer .wrap .body .capt  {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--main-color-Grey2);
}
footer .wrap .body .capt span {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: var(--main-color-Grey3);
}
footer .wrap .body .f_info .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
footer .wrap .body .f_info .text .f_contact {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
footer .wrap .body .f_info .text .f_place {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
footer .wrap .body .f_info .text .f_place .f_adr {
    font-size: 14px;
    line-height: 20px;
}
footer .wrap .body .f_info .text .f_place .f_time {
    font-size: 14px;
    line-height: 20px;
}
footer .wrap .body .f_info .f_nets {
    display: flex;
    gap: 12px;
}
footer .wrap .body .f_info .f_nets a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
footer .wrap .body .f_info .f_nets a img {
    height: 32px;
}

footer .wrap .body .f_block ul {
    list-style: none;
}
footer .wrap .body .f_block ul li {
    border-bottom: 1px solid var(--main-color-Grey2);
}
footer .wrap .body .f_block ul li a {
    display: block;
    padding: 16px 0;
}

footer .wrap .foot {
    font-size: 14px;
    line-height: 20px;
    color: var(--main-color-Grey3);
}
@media only screen and (min-width:768px) {
    footer .wrap {
        padding-top: 64px;
        padding-bottom: 64px;
        gap: 24px;
    }
    footer .wrap .head {
        flex-direction: row;
        justify-content: space-between;
    }
    footer .wrap .head a.color_btn {
        width: unset;
    }
    footer .wrap .body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    footer .wrap .body .f_block ul {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    footer .wrap .body .f_block ul li {
        border-bottom: none;
    }
    footer .wrap .body .f_block ul li a {
        display: block;
        padding: 0;
    }

    footer .wrap .foot {
        display: grid;
        grid-row-gap: 10px;
        padding-top: 24px;
        border-top: 1px solid var(--main-color-Grey2);
    }
}
@media only screen and (min-width:1200px) {
    footer .wrap .body .f_menu ul {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 12px;
        grid-auto-flow: column;
    }
    footer .wrap .body .f_goods ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 12px;
    }
}
/*-------------------footer end----------------------*/