/*-------------------page_404----------------------*/
.page_404 {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.page_404 .in {
    padding-bottom: 16px;
    background: var(--main-color-Grey1);
    border-radius: 24px;
    padding: 32px 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.page_404 .in .img {
    width: 100%;
    padding: 0 14px;
}
.page_404 .in .img img {
    width: 100%;
    max-width: 616px;
}
.page_404 .in > a {
    width: unset;
}

.page_404 .in .footer_404 {
    width: 100%;
    border-top: 1px solid var(--main-color-Grey2);
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.page_404 .in .footer_404 > p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.page_404 .in .footer_404 ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px 32px;
}
.page_404 .in .footer_404 ul li a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-decoration: none;
}
.page_404 .in .footer_404 ul li a:hover {
    background: var(--Brand-Gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media only screen and (min-width:768px) {
    .page_404 {
        padding-top: 64px;
        gap: 64px;
    }
    .page_404 .in {
        padding: 64px;
    }
}
/*-------------------page_404 end----------------------*/