/*-------------------hero----------------------*/
.hero {
    min-height: 300px;
    color: var(--main-color-White);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero .wrap .hero_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.hero .wrap .hero_content h1 {
    color: var(--main-color-White);
}
@media only screen and (min-width:768px) {
    .hero {
        min-height: 450px;
    }
    .hero .wrap .hero_content {
        gap: 32px;
    }
}
/*-------------------hero end----------------------*/

/*-------------------hero2----------------------*/
.hero2 {
    height: 300px;
    color: var(--main-color-White);
}
.hero2 .hero_swiper,
.hero2 .hero_swiper .swiper-wrapper,
.hero2 .hero_swiper .swiper-wrapper .swiper-slide, 
.hero2 .hero_swiper .swiper-wrapper .swiper-slide .wrap {
    height: 100%;
}
.hero2 .hero_swiper {
    overflow: hidden;
    position: relative;
}

.hero2 .hero_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.hero2 .hero_content h1 {
    color: var(--main-color-White);
}

.hero2 .swiper-pagination {
    bottom: 16px;
    display: flex;
    gap: 8px;
    z-index: 1;
}
.hero2 .swiper-pagination .swiper-pagination-bullet {
    --swiper-pagination-bullet-horizontal-gap: 0;
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid white;
    background: none;
    opacity: 1;
    
}
.hero2 .swiper-pagination .swiper-pagination-bullet-active {
    background: white;
}
@media only screen and (min-width:768px) {
    .hero2 {
        min-height: 450px;
    }
    .hero2 .hero_content {
        gap: 32px;
    }
    .hero2 .swiper-pagination {
        bottom: 32px;
    }
}
/*-------------------hero2 end----------------------*/