/*-------------------swiper_main_card----------------------*/
.wrap_swiper_main_card {
    max-width: 1532px;
    padding: 32px 0;
}
.wrap_swiper_main_card .item {
    width: 140px;
}
.wrap_swiper_main_card .swiper_main_card .wrap_main_card .item a {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 100%;
}
.wrap_swiper_main_card .swiper_main_card .wrap_main_card .item a .img {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color-Grey1);
    border-radius: 16px;
    overflow: hidden;
    transition: 0.2s;
}
.wrap_main_card {
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 16px;
}

@media only screen and (min-width:1200px) {
    .wrap_main_card {
        padding-left: 0;
        padding-right: 0;
    }
}
.swiper-horizontal > .wrap_main_card_scrollbar {
    --swiper-scrollbar-sides-offset: 0;
    --swiper-scrollbar-bottom: 0;
    position: relative;
    margin-top: 10px;
    
}
@media only screen and (min-width:1200px) {
    .swiper-horizontal > .wrap_main_card_scrollbar {
        display: none;
    }
}
.wrap_swiper_main_card .swiper_main_card .wrap_main_card .item:hover a .img {
    background: var(--main-color-Grey1-hover);
}
.wrap_swiper_main_card .swiper_main_card .wrap_main_card .item a .img img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.wrap_swiper_main_card .swiper_main_card .wrap_main_card .item a .desc {
    text-align: center;
}
@media only screen and (min-width:768px) {
    .wrap_swiper_main_card {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}
@media only screen and (min-width:1200px) {
    .wrap_swiper_main_card {
        padding-left: 68px;
        padding-right: 68px;
        position: relative;
    }
}

@media only screen and (min-width:1600px) {
    .wrap_swiper_main_card {
        padding-left: 56px;
        padding-right: 56px;
    }
}
@media only screen and (min-width:1200px) {
    .wrap_swiper_main_card .swiper_main_card .swiper_main_card_arrow_left,
    .wrap_swiper_main_card .swiper_main_card .swiper_main_card_arrow_right {
        position: absolute;
        width: 44px;
        height: 44px;
        border-radius: 12px;
        background: var(--main-color-Grey1) url(../../icons/chevron-down.svg) no-repeat center center;
        cursor: pointer;
        z-index: 1;
        transition: 0.2s;
    }
    .wrap_swiper_main_card .swiper_main_card .swiper_main_card_arrow_left:hover,
    .wrap_swiper_main_card .swiper_main_card .swiper_main_card_arrow_right:hover {
        background: var(--main-color-Grey1-hover) url(../../icons/chevron-down.svg) no-repeat center center;
    }
    .wrap_swiper_main_card .swiper_main_card .swiper_main_card_arrow_left {
        top: 112px;
        left: 12px;
        transform: rotate(90deg);
    }
    .wrap_swiper_main_card .swiper_main_card .swiper_main_card_arrow_right {
        top: 112px;
        right: 12px;
        transform: rotate(-90deg);
    }
}

@media only screen and (min-width:1600px) {
    .wrap_swiper_main_card .swiper_main_card .swiper_main_card_arrow_left {
        left: 0;
    }
    .wrap_swiper_main_card .swiper_main_card .swiper_main_card_arrow_right {
        right: 0;
    }
}
/*-------------------swiper_main_card end----------------------*/