/*-------------------upd_catalog_all----------------------*/
.upd_catalog_all .upd_catalog_all_body {
    padding: 16px 0;
}
.upd_catalog_all .upd_catalog_all_body .wrap_content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap: 12px;
}
.upd_catalog_all .upd_catalog_all_body .wrap_content .item {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: 20px;
    background: var(--main-color-Grey1);
    height: 100px;
}
.upd_catalog_all .upd_catalog_all_body .wrap_content .item:last-child:nth-child(2n+1) {
    grid-column: 1 / -1;
}
.upd_catalog_all .upd_catalog_all_body .wrap_content .item .img {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
}
.upd_catalog_all .upd_catalog_all_body .wrap_content .item .img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
@media only screen and (min-width:768px) {
    .upd_catalog_all .upd_catalog_all_body {
        padding: 0 0 48px;
    }
    .upd_catalog_all .upd_catalog_all_body .wrap_content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        /* display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px,1fr));
        gap: 20px;
        align-items: center; */
    }
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item {
        flex-direction: column;
        gap: 24px;
        min-height: 394px;
        /* min-width: 200px;
        max-width: 380px;
        width: 100%; */
        width: 32.2%;
        aspect-ratio: unset;
        align-items: stretch;
    }
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item:nth-child(4),
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item:nth-child(5) {
        /* max-width: 650px; */
    }
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item:last-child:nth-child(2n+1) {
        grid-column: unset;
    }
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item .img {
        aspect-ratio: none;
        height: 300px;
    }
}
@media only screen and (min-width:1600px) {
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item {
        /* max-width: 456px; */
    }
}
/*-------------------upd_catalog_all end----------------------*/

/*-------------------accessory----------------------*/
@media only screen and (min-width:768px) {
    /* .upd_catalog_all .upd_catalog_all_body .wrap_content .item:nth-child(4),
    .upd_catalog_all .upd_catalog_all_body .wrap_content .item:nth-child(5) {
        max-width: 455px;
    } */
}
/*-------------------accessory end----------------------*/