/*-------------------sell_other----------------------*/
.sell_other {
    padding-top: 16px;
    padding-bottom: 16px;
}
.sell_other .wrap_in {
    background: var(--main-color-Grey1);
    border-radius: 24px;
    padding: 0 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.sell_other .wrap_in .body {
    width: 100%;
    max-width: 360px;
}
.sell_other .wrap_in .body form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.sell_other .wrap_in .body form .wrap_select {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sell_other .wrap_in .body form .select_btn {
    position: relative;
}
.sell_other .wrap_in .body form .select_btn span {
    position: relative;
    display: block;
    background: var(--main-color-White);
    border-radius: 16px;
    padding: 12px 48px 12px 16px;
    cursor: pointer;
}
.sell_other .wrap_in .body form .select_btn span::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: 12px;
    right: 16px;
    background: url(../../icons/chevron-down.svg) no-repeat;
    transition: 0.2s;
}
.sell_other .wrap_in .body form .device.open span::before,
.sell_other .wrap_in .body form .model.open span::before {
    transform: rotate(180deg);
}

.sell_other .wrap_in .body form .select_btn .type_select {
    position: absolute;
    min-width: 100%;
    z-index: 1;
    background: var(--main-color-White);
    border: 1px solid #EBEBEB;
    padding: 8px;
    border-radius: 16px;
    display: none;
    flex-direction: column;
    box-shadow: 0 12px 16px rgb(6%, 9%, 16%, 0.08);
}
.sell_other .wrap_in .body form .select_btn .type_select .item {
    position: relative;
}
.sell_other .wrap_in .body form .select_btn .type_select input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.sell_other .wrap_in .body form .select_btn .type_select label {
    width: 100%;
    min-height: 48px;
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}
.sell_other .wrap_in .body form .select_btn .type_select label:hover,
.sell_other .wrap_in .body form .select_btn .type_select input:checked + label {
    background: var(--main-color-Grey1);
}

.sell_other .wrap_in .body form .select_btn.inactive span {
    color: var(--main-color-Grey2);
    cursor: default;
}
.sell_other .wrap_in .body form .select_btn.inactive span::before {
    background: url(../../icons/chevron-down-gray.svg) no-repeat;
}
@media only screen and (min-width:768px) {
    .sell_other {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .sell_other .wrap_in {
        gap: 16px;
        padding: 0 48px 48px;
    }
}
/*-------------------sell_other end----------------------*/




/*-------------------sell_device----------------------*/
.sell_device {
    padding-top: 16px;
    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sell_device .sell_device_tab {
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 20px;
    padding: 0 0 8px;
}
.sell_device .sell_device_tab .item {
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
}
.sell_device .sell_device_tab .item .img {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color-Grey1);
    border-radius: 16px;
    overflow: hidden;
    border: 3px solid var(--main-color-Grey1);
}
.sell_device .sell_device_tab .item .img img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.sell_device .sell_device_tab .item .desc {
    text-align: center;
    max-width: 140px;
}
.sell_device .sell_device_tab .item:first-child {
    margin-left: 16px;
}
.sell_device .sell_device_tab .item:last-child {
    margin-right: 16px;
}
.sell_device .sell_device_tab .item.active .img {
    border: 3px solid transparent;
    background: linear-gradient(var(--main-color-Grey1), var(--main-color-Grey1)) padding-box, var(--Brand-Gradient) border-box;
}

.sell_device .sell_device_result {
    padding-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
@media only screen and (min-width:768px) {
    .sell_device {
        padding-top: 64px;
        gap: 32px;
    }
    .sell_device .sell_device_tab .item:first-child {
        margin-left: 32px;
    }
    .sell_device .sell_device_tab .item:last-child {
        margin-right: 32px;
    }
    .sell_device .sell_device_result {
        padding-bottom: 64px;
    }
}
@media only screen and (min-width:1200px) {
    .sell_device .sell_device_tab .item:first-child {
        margin-left: 48px;
    }
    .sell_device .sell_device_tab .item:last-child {
        margin-right: 48px;
    }
}
/*-------------------sell_device end----------------------*/