/*-------------------upd_cart----------------------*/
.upd_cart .head_page {

}
.upd_cart .cart_steps_head {
    padding: 16px 0;
    display: flex;
    align-items: center;
    gap: 32px;
}
.upd_cart .cart_steps_head .cart_steps_head_wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}
.upd_cart .cart_steps_head .cart_steps_head_wrap .cart_step_label {
    display: inline-block;
    border-radius: 15px;
    border: 1px solid var(--main-color-Grey2);
    padding: 10px 12px;
    transition: background-color 0.2s;
}

.upd_cart .cart_steps_head .cart_steps_head_wrap .cart_step_label.active {
    padding: 8px 10px;
    border: 3px solid transparent;
    background: linear-gradient(var(--main-color-White), var(--main-color-White)) padding-box, var(--Brand-Gradient) border-box;
}

.upd_cart .cart_steps_head .cart_steps_head_wrap .cart_steps_head_separ img {
    transform: rotate(-90deg);
}

/* .upd_cart .wrap_items {
    padding-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(158px,1fr));
    gap: 12px;
} */
.upd_cart .wrap_items {
    padding-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(154px,1fr));
    gap: 8px;
}
.upd_cart .cart_steps_body {
    display: none;
}
.upd_cart .cart_steps_body.active {
    display: block;
}

.upd_cart .cart_next_step {
    padding: 32px 0;
}
.upd_cart .cart_next_step a,
.upd_cart .cart_next_step span {
    padding: 0 62px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    width: 100%;
    max-width: 227px;
}
@media only screen and (min-width:768px) {
    .upd_cart .head_page {
        padding-bottom: 0;
    }
    .upd_cart .cart_steps_head {
        padding: 24px 0;
    }
    .upd_cart .wrap_items {
        padding-top: 48px;
        /* grid-template-columns: repeat(auto-fill,minmax(218px,1fr));
        gap: 20px; */
    }
    .upd_cart .cart_next_step {
        padding: 48px 0 64px;
    }
    .upd_cart .wrap_items {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}
@media (min-width: 1200px) {
    .upd_cart .wrap_items {
        grid-template-columns: repeat(4, 1fr);
    }
}
/*-------------------upd_cart end----------------------*/


/*-------------------upd_cart_add----------------------*/
.upd_cart_add .head_page {

}
.upd_cart_add .cart_steps_head {
    padding: 16px 0;
    display: flex;
    align-items: center;
    gap: 32px;
}
/* .upd_cart_add .cart_steps_head .cart_steps_head_wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}
.upd_cart_add .cart_steps_head .cart_steps_head_wrap .cart_step_label {
    display: inline-block;
    border-radius: 15px;
    border: 1px solid var(--main-color-Grey2);
    padding: 10px 12px;
    transition: background-color 0.2s;
}

.upd_cart_add .cart_steps_head .cart_steps_head_wrap .cart_step_label.active {
    padding: 8px 10px;
    border: 3px solid transparent;
    background: linear-gradient(var(--main-color-White), var(--main-color-White)) padding-box, var(--Brand-Gradient) border-box;
}

.upd_cart_add .cart_steps_head .cart_steps_head_wrap .cart_steps_head_separ img {
    transform: rotate(-90deg);
} */

.upd_cart_add .wrap_items {
    padding-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(158px,1fr));
    gap: 12px;
}
.upd_cart_add .cart_steps_body {
    display: block;
}

.upd_cart_add .cart_next_step {
    padding: 32px 0;
}
.upd_cart_add .cart_next_step a,
.upd_cart_add .cart_next_step span {
    padding: 0 62px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    width: 100%;
    max-width: 227px;
}
@media only screen and (min-width:768px) {
    .upd_cart_add .head_page {
        padding-bottom: 0;
    }
    .upd_cart_add .cart_steps_head {
        padding: 24px 0;
    }
    .upd_cart_add .wrap_items {
        padding-top: 48px;
        grid-template-columns: repeat(auto-fill,minmax(218px,1fr));
        gap: 20px;
    }
    .upd_cart_add .cart_next_step {
        padding: 48px 0 64px;
    }
}
/*-------------------upd_cart_add end----------------------*/





/*-------------------upd_cart_page----------------------*/
.upd_cart_page .cart_main {
    position: relative;
}
.upd_cart_page .cart_main .left {
    padding: 16px 0;
}
.upd_cart_page .cart_main .left .cart_items_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item {
    position: relative;
    background: var(--main-color-Grey1);
    border-radius: 27px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item > div {
    width: 100%;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .img {
    display: flex;
    justify-content: center;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .img a {
    display: inline-block;
    height: 91px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .img a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.upd_cart_page .cart_main .left .cart_items_list .cart_item .card_switcher {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    max-width: 348px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .card_switcher .switcher {
    width: 100%;
    background: var(--main-color-White);
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    border-radius: 12px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .card_switcher .switcher span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px 10px;
    min-height: 32px;
    border-radius: 8px;
    background: var(--main-color-White);
    cursor: pointer;
    transition: 0.2s;
    color: var(--main-color-Black);
    font-size: 14px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .card_switcher .switcher span:hover {
    background: var(--main-color-Grey1-hover);
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .card_switcher .switcher span.active {
    color: var(--main-color-White);
    background: var(--Brand-Gradient);
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .card_switcher .switcher span.active:hover {
    background: var(--Brand-Gradient-Hover);
}

.upd_cart_page .cart_main .left .cart_items_list .cart_item .desc {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .desc .capt {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .desc .capt .params {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .desc .capt .params span {
    background: var(--main-color-White);
    border-radius: 8px;
    padding: 0 9px;
}

.upd_cart_page .cart_main .left .cart_items_list .cart_item .counter .in {
    border: 1px solid var(--main-color-Grey2);
    border-radius: 12px;
    padding: 4px;
    display: inline-grid;
    grid-template-columns: 32px minmax(32px, 1fr) 32px;
    grid-template-rows: 32px;
    gap: 8px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .counter .in span {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    height: 32px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .counter .in .minus_1,
.upd_cart_page .cart_main .left .cart_items_list .cart_item .counter .in .plus_1 {
    background: var(--main-color-White);
    border-radius: 8px;
    cursor: pointer;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .counter .in .current {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.upd_cart_page .cart_main .left .cart_items_list .cart_item .result > div {
    display: none;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result > div .in {
    display: grid;
    grid-row-gap: 8px;
    border: 1px solid var(--main-color-Grey2);
    border-radius: 12px;
    padding: 16px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result > div.active {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result > div .part_price {
    display: flex;
    align-items: center;
    gap: 8px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result > div .part_price .month {
    background: var(--main-color-White);
    border-radius: 8px;
    padding: 0 9px;
}

.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .period_pay {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .period_pay .switcher_period_pay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    max-width: 348px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .period_pay .switcher_period_pay span {
    border: 1px solid var(--main-color-Grey2);
    border-radius: 8px;
    padding: 4px;
    min-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .period_pay .switcher_period_pay span.active {
    padding: 2px;
    border: 3px solid transparent;
    background: linear-gradient(var(--main-color-Grey1), var(--main-color-Grey1)) padding-box, var(--Brand-Gradient) border-box;
}


.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .period_pay .in {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .full_price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .color_bar,
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .work {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 2px 8px;
    border-radius: 8px;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .color_bar {
    position: relative;
    display: inline-block;
    /* background: var(--main-color-Grey1); */
    overflow: hidden;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .color_bar.percent_60::before {
    position: absolute;
    content: "";
    width: 40%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    z-index: 1;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .color_bar.percent_60::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: var(--Brand-Gradient2);
    z-index: 1;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .color_bar.percent_70::before {
    position: absolute;
    content: "";
    width: 30%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--main-color-Grey1);
    z-index: 1;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .color_bar.percent_70::after {
    position: absolute;
    content: "";
    width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: var(--Brand-Gradient2);
    z-index: 1;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .color_bar span.percent_60 {
     color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, white 0%, white 60%, black 60%, black 100%);
    z-index: 2;
    position: relative;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .color_bar span.percent_70 {
    color: transparent;    
   -webkit-background-clip: text;
   background-clip: text;
   background-image: linear-gradient(to right, white 0%, white 70%, black 70%, black 100%);
   z-index: 2;
    position: relative;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .work {
    background: white;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .work:hover {
    background: var(--main-color-Grey1-hover);
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .result .select_with_resty .work img {
    width: 18px;
    margin-right: 10px;
}



.upd_cart_page .cart_main .left .cart_items_list .cart_item .cart_add_item {
    position: relative;
    background: var(--main-color-White);
    border-radius: 12px;
    padding: 8px 8px 65px;
    min-height: 56px;
    display: flex;
    align-items: center;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .cart_add_item::after {
    position: absolute;
    content: "";
    right: calc(50% - 93px);
    bottom: 0;
    width: 186px;
    height: 57px;
    background: url(../../icons/icon_cart_add.png) no-repeat;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .cart_add_item .cart_add_item_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: var(--main-color-Grey1);
    border-radius: 8px;
    padding: 8px;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .cart_add_item .cart_add_item_btn:hover {
    background: var(--main-color-Grey1-hover);
}

.upd_cart_page .cart_main .left .cart_items_list .cart_item .cart_btn_delete {
    position: absolute;
    top: 16px;
    right: 16px;
    display: inline-block;
    background: #E6E6E6;
    border-radius: 8px;
    padding: 0 9px;
    cursor: pointer;
    transition: 0.2s;
}
.upd_cart_page .cart_main .left .cart_items_list .cart_item .cart_btn_delete:hover {
    background: var(--main-color-Grey1-hover);
}


.upd_cart_page .cart_main .right {
    padding: 16px 0 32px;
    width: 100%;
}
.upd_cart_page .cart_main .right .wrap_in {
    background: var(--main-color-Grey1);
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.upd_cart_page .cart_main .right .order_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.upd_cart_page .cart_main .right .order_list .order_item {
    background: var(--main-color-White);
    border-radius: 16px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.upd_cart_page .cart_main .right .order_list .order_item .body {
    display: grid;
    grid-template-columns: 75px 1fr 44px;
    gap: 10px;
    align-items: center;
}
.upd_cart_page .cart_main .right .order_list .order_item .body .img {
    width: 100%;
    height: 75px;
}
.upd_cart_page .cart_main .right .order_list .order_item .body .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.upd_cart_page .cart_main .right .order_list .order_item .body .desc {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.upd_cart_page .cart_main .right .order_list .order_item .body .desc .params {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.upd_cart_page .cart_main .right .order_list .order_item .body .desc .params span {
    background: var(--main-color-Grey1);
    border-radius: 8px;
    padding: 0 9px;
}
.upd_cart_page .cart_main .right .order_list .order_item .body .btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background: var(--main-color-Grey1);
    cursor: pointer;
    z-index: 1;
    transition: 0.2s;
}
.upd_cart_page .cart_main .right .order_list .order_item .body .btn span:hover {
    background: var(--main-color-Grey1-hover);
}
.upd_cart_page .cart_main .right .order_list .order_item .body .btn span img {
    transition: 0.2s;
}
.upd_cart_page .cart_main .right .order_list .order_item.open .body .btn span img {
    transform: rotate(180deg);
}
.upd_cart_page .cart_main .right .order_list .order_item .details {
    display: none;
}
.upd_cart_page .cart_main .right .order_list .order_item.open .details {
    display: block;
}
.upd_cart_page .cart_main .right .order_list .order_item .details .row {
    padding: 8px 0;
    border-bottom: 1px solid var(--main-color-Grey2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upd_cart_page .cart_main .right .order_list .order_item .details .row:first-child {
    border-top: 1px solid var(--main-color-Grey2);
}
.upd_cart_page .cart_main .right .order_summary .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upd_cart_page .cart_main .right .order_summary > .row {
    border-bottom: 1px solid #DEDEDE;
    padding: 16px 0;
}
.order_summary__top {
    display: grid;
    grid-row-gap: 8px;
    padding: 8px 0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
 }
.upd_cart_page .cart_main .right .order_summary > .row:first-child {
    border-top: 1px solid #DEDEDE;
}

.upd_cart_page .cart_main .right .min_price_alert {
    background: var(--main-color-White);
    border-radius: 16px;
    padding: 16px;
}
.upd_cart_page .cart_main .right .min_price_alert .in {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
}
.upd_cart_page .cart_main .right .min_price_alert .in p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.upd_cart_page .cart_main .btn_fixed {
    position: fixed;
    /* height: 174px; */
    height: 88px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    padding: 8px;
    z-index: 1;
}
.upd_cart_page .cart_main .btn_fixed::before {
     pointer-events: none;
    position: absolute;
    content: "";
    top: -86px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.6;
    background: linear-gradient(rgba(122, 122, 122, 0) 0%, rgba(122, 122, 122, 0.5) 50%, rgba(122, 122, 122, 1) 100%)
}
.upd_cart_page .cart_main .btn_fixed .in {
    width: 100%;
    background: var(--main-color-White);
    border-radius: 24px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.upd_cart_page .cart_main .btn_fixed .in .btn_fixed_capt {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}
.upd_cart_page .cart_main .btn_fixed .in .btn_fixed_price {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}
.upd_cart_page .cart_main .btn_fixed .in .btn_fixed_dop {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: var(--main-color-Grey3);
}


.upd_cart_page .cart_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 16px;
}
.upd_cart_page .cart_form .wrap_user_data {
    max-width: 510px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.upd_cart_page .cart_ok {
    padding: 16px 0;
}
.upd_cart_page .cart_last_block {
    padding: 16px 0;
}

.price-info-progress {
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: var(--main-color-White);
    border-radius: 8px;

}

.price-info-progress--theme-1 {
    background-image: var(--Brand-Gradient);
}

.price-info-progress--theme-2 {
    background-image: var(--Brand-Gradient2);
}
@media only screen and (min-width:768px) {
    .upd_cart_page,
    .upd_cart_page .cart_main {
        width: 100%;
    }
    .upd_cart_page .cart_main .left {
        padding-bottom: 64px;
    }
    .upd_cart_page .cart_main .left .cart_items_list .cart_item {
        width: 100%;
        display: grid;
        grid-template-columns: 110px 1fr;
        gap: 20px;
        align-items: flex-start;
    }
    .upd_cart_page .cart_main .left .cart_items_list .cart_item .capt {
        padding-right: 92px;
    }
    .upd_cart_page .cart_main .left .cart_items_list .cart_item .img {
        width: 100%;
        height: 110px;
    }
    .upd_cart_page .cart_main .left .cart_items_list .cart_item .img a {
        height: 110px;
    }
    .upd_cart_page .cart_main .left .cart_items_list .cart_item .cart_add_item {
        padding: 8px;
    }
    .upd_cart_page .cart_main .left .cart_items_list .cart_item .cart_add_item::after {
        right: 0;
    }
    .upd_cart_page .cart_main .left .cart_items_list .cart_item .cart_add_item .cart_add_item_btn {
        width: unset;
    }
    .upd_cart_page .cart_main .right {
        padding-bottom: 64px;
    }

    .upd_cart_page .cart_form {
        display: flex;
        padding: 32px 0 48px;
    }
    .upd_cart_page .cart_ok {
        padding: 48px 0;
    }
}
@media only screen and (min-width:840px) {
    .upd_cart_page .cart_main {
        display: grid;
        grid-template-columns: 0.63fr 0.37fr;
        gap: 32px;
        /* align-items: flex-start; */
    }
    .upd_cart_page .cart_main .left .cart_items_list {
        padding: 0;
    }
    
    .upd_cart_page .cart_main .right {
        position: relative;
    }
    .upd_cart_page .cart_main .right .wrap_in {
        position: sticky;
        top: 97px;
    }

    .upd_cart_page .accessory_inline.short .body .wrap_items {
        max-width: calc(62% - 16px);
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    }
    .upd_cart_page .accessory_inline.short .body .more_items {
        max-width: calc(62% - 16px);
    }
}
/*-------------------upd_cart_page end----------------------*/
