/*-------------------popup_form----------------------*/
/* .modal_video {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #636363;
    padding: 0;
}
.modal_video .wrap_video {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
}
.modal_video .modal_video_content {
    width: 100%;
    max-width: 1454px;
    aspect-ratio: 1454/769;
    margin: auto;
}
.modal_video .modal_video_content iframe {
    display: block;
    width: 100%;
    height: 100%;
}
.modal .modal_content .form_body form .btn button {
    width: 100%;
    height: 48px;
    background: var(--Brand-Gradient);
    color: var(--main-color-White);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}
.modal_video .form_video_close {
    position: absolute;
    content: "";
    display: block;
    top: 10px;
    right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background: var(--main-color-Grey1) url(../../icons/x.svg) no-repeat center center;
    z-index: 10;
    cursor: pointer;
} */
/*-------------------popup_form end----------------------*/