/*-------------------upd_catalog----------------------*/
.upd_catalog .upd_catalog_body {
    padding-bottom: 16px;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_head {
    display: block;
    position: relative;
    background: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body > form  {
    width: 100%;
    background: var(--main-color-Grey1);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_title {
    margin-bottom: 16px;
}

.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_price {
    background: var(--main-color-White);
    padding: 10px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_price .type_price_item {
    position: relative;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_price .type_price_item input {
    width: 100%;
    height: 100%;
    min-height: 44px;
    border-radius: 12px;
    border: 1px solid var(--main-color-Grey2);
    padding: 0 10px 2px 37px;
    outline: none;
    color: var(--main-color-Grey3);
    display: flex;
    align-items: center;
    transition: 0.2s;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_price .type_price_item.cross .clear_value {
    position: absolute;
    top: calc(50% - 12px);
    right: 14px;
    width: 24px;
    height: 24px;
    background: url(../../icons/x.svg) no-repeat center center;
    cursor: pointer;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_price .type_price_item.on input {
    color: var(--main-color-Black);
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_price .type_price_item input:focus {
    border: 1px solid transparent;
    background: linear-gradient(var(--main-color-White), var(--main-color-White)) padding-box, var(--Brand-Gradient) border-box;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_price .type_price_item {
    position: relative;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_price .type_price_item:first-child::before {
    position: absolute;
    content: "От";
    left: 14px;
    top: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: var(--main-color-Grey3);
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_price .type_price_item:last-child::before {
    position: absolute;
    content: "До";
    left: 12px;
    top: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: var(--main-color-Grey3);
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_price .type_price_item.on::before {
    color: var(--main-color-Black);
}

.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list {
    background: var(--main-color-White);
    padding: 0 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list .item {
    position: relative;
    border-bottom: 1px solid #efefef;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list .item:last-child {
    border-bottom: none;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list label {
    position: relative;
    width: 100%;
    min-height: 44px;
    display: flex;
    align-items: center;
    padding: 10px 24px 10px 0;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list label::before {
    position: absolute;
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #D0D5DD;
    border-radius: 4px;
    right: 0;
    background: var(--main-color-White) no-repeat center center;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list .item label .sub_label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list .item label .sub_label small {
    color: #bbb;
    font-size: 0.8em;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list .item:hover label::before {
    border: 1px solid transparent;
    background: linear-gradient(var(--main-color-White), var(--main-color-White)) padding-box, var(--Brand-Gradient) border-box;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list input:checked + label::before {
    border-color: #B90D01;
    background-color: #FD5925;
    background-image: url(../../icons/check.svg);
    background-size: 90%;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list .item:hover input:checked + label::before {
    border-color: #B90D01;
    background-color: #FD5925;
    background-image: url(../../icons/check.svg);
    background-size: 90%;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list label .item_color {
    flex: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--main-color-Grey2);
    margin-right: 12px;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list .item_btn .filter_more {
    
    width: 100%;
    height: 48px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color-Grey1);
    margin: 10px 0;
    cursor: pointer;
    transition: 0.2s;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list .item_btn .filter_more:hover {
    background: var(--main-color-Grey1-hover);
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list .item_btn .filter_more > div {
    position: relative;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list .item_btn .filter_more > div::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    background: url(../../icons/chevron-down.svg) no-repeat;
    background-size: contain;
    top: 0;
    left: -40px;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list .item_btn .filter_more.open > div::before {
    transform: scale(-1,-1);
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list .item_btn .filter_more > div .roll_up {
    display: none;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list .item_btn .filter_more.open > div .roll_up {
    display: block;
}
.upd_catalog .upd_catalog_body .wrap_filter .filter_body .filter_item .filter_item_body .type_list .item_btn .filter_more.open > div .show_all {
    display: none;
}




.upd_catalog .upd_catalog_body .wrap_result {
    margin-top: 8px;
}
.upd_catalog .upd_catalog_body .wrap_result .sort_btn {
    position: relative;
}
.upd_catalog .upd_catalog_body .wrap_result .sort_btn span {
    position: relative;
    display: block;
    background: var(--main-color-Grey1);
    border-radius: 16px;
    padding: 12px 16px 12px 56px;
    cursor: pointer;
}
.upd_catalog .upd_catalog_body .wrap_result .sort_btn span::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: 12px;
    left: 16px;
    background: url(../../icons/Sort-arrow.svg) no-repeat;
}

.upd_catalog .upd_catalog_body .wrap_result .sort_btn .type_sort {
    position: absolute;
    min-width: 100%;
    z-index: 1;
    background: var(--main-color-White);
    border: 1px solid #EBEBEB;
    padding: 8px;
    border-radius: 16px;
    display: none;
    flex-direction: column;
    box-shadow: 0 12px 16px rgb(6%, 9%, 16%, 0.08);
}
.upd_catalog .upd_catalog_body .wrap_result .sort_btn .type_sort .item {
    position: relative;
}
.upd_catalog .upd_catalog_body .wrap_result .sort_btn .type_sort input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.upd_catalog .upd_catalog_body .wrap_result .sort_btn .type_sort label {
    width: 100%;
    min-height: 48px;
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}
.upd_catalog .upd_catalog_body .wrap_result .sort_btn .type_sort label:hover,
.upd_catalog .upd_catalog_body .wrap_result .sort_btn .type_sort input:checked + label {
    background: var(--main-color-Grey1);
}

.upd_catalog .upd_catalog_body .wrap_result .selected_param {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 16px;
}
.upd_catalog .upd_catalog_body .wrap_result .selected_param .wrap_items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.upd_catalog .upd_catalog_body .wrap_result .selected_param .wrap_items span {
    position: relative;
    padding: 4px 32px 4px 8px;
    border-radius: 12px;
    background: var(--main-color-Grey1);
    cursor: pointer;
}
.upd_catalog .upd_catalog_body .wrap_result .selected_param .wrap_items span::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    right: 8px;
    top: calc(50% - 12px);
    background: url(../../icons/x-square.svg) no-repeat;
}
.upd_catalog .upd_catalog_body .wrap_result .selected_param .btn_param {
    position: relative;
    display: inline-block;
    padding: 4px 32px 4px 8px;
    border-radius: 12px;
    background: var(--main-color-Grey1);
    cursor: pointer;
}
.upd_catalog .upd_catalog_body .wrap_result .selected_param .btn_param::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    right: 8px;
    top: calc(50% - 12px);
    background: url(../../icons/trash.svg) no-repeat;
}

.upd_catalog .upd_catalog_body .wrap_result .catalog_items {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(154px,1fr));
    gap: 8px;
}
.upd_catalog .upd_catalog_body .wrap_result .no_items {
    border: 1px solid var(--main-color-Grey2);
    border-radius: 16px;
    padding: 50px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap_result__sort {
    display: grid;
    grid-row-gap: 8px;
}
.catalog-slider {
    position: relative;
}

.catalog-slider__body {
    position: relative;
    overflow: hidden;
}

.catalog-slider .catalog-slider__slide {
    width: 240px;
    height: initial;
}

.swiper-horizontal .catalog-slider__scrollbar {
    position: relative;
    left: 0;
    width: 100%;
}
.catalog-slider-shadow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.catalog-slider-shadow:after,
.catalog-slider-shadow:before {
    bottom: 0;
    top: 0;
    margin: auto;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 3.48%, rgba(255, 255, 255, 0.7) 52.49%, #FFFFFF 100%);
    content: '';
    width: 70px;
    z-index: 2;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    transition: opacity .2s;
}
.catalog-slider__nav {
    display: none;
}
/*.catalog-slider-shadow--first:after {
    right: 0;
    opacity: 1;
}
.catalog-slider-shadow--last:before {
    left: 0;
    transform: rotate(180deg);
    opacity: 1;
}*/
@media (max-width: 999px) {
    .js-smart-filter-close {
        width: 24px;
        height: 24px;
        background: url(../../icons/x.svg) no-repeat;
        justify-self: right;
    }
    .js-smart-filter-button {
        display: flex;
        align-items: center;
        border: none;
        position: relative;
        background: var(--main-color-Grey1);
        border-radius: 16px;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: var(--main-color-Black);
    }
    .js-smart-filter-button::before {
        display: flex;
        align-items: center;
        content: "";
        width: 24px;
        height: 24px;
        margin-right: 16px;
        background: url(../../icons/sliders.svg) no-repeat;
    }
    .js-smart-filter-shadow {
        display: none;
    }
    .js-smart-filter-shadow--is-active {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;

        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 100;
    }
    .js-smart-filter {
        position: fixed;
        width: 100%;
        max-width: 290px;
        transform: translateX(-290px);
        top: 0;
        left: 0;
        bottom: 0;
        -webkit-transition: transform .4s ease;
        transition: transform .4s ease;
        z-index: 120;
        background-color: var(--main-color-Grey1);
        overflow-y: auto;
        height: 100%;
        display: grid;
        grid-row-gap: 12px;
        padding: 16px;
    }
    .js-smart-filter--is-show {
        transform: translateX(0);
    }
}
@media only screen and (min-width:768px) {
    .upd_catalog .upd_catalog_body {
        padding-bottom: 48px;
    }
    .upd_catalog .upd_catalog_body .wrap_result .catalog_items {
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    }
    .catalog-slider .catalog-slider__slide {
        width: 305px;
    }
    .catalog-slider__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 12px;
        background-color: var(--main-color-Grey1);
        cursor: pointer;
    }
    .catalog-slider__arrow::before {
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
    }
    .catalog-slider__arrow--left::before {
        background-image: url(../../icons/chevron-down.svg);
        transform: rotate(90deg);
    }
    .catalog-slider__arrow--right::before {
        background-image: url(../../icons/chevron-down.svg);
        transform: rotate(-90deg);
    }
}

@media only screen and (min-width:1000px) {
    .js-smart-filter-button,
    .wrap_filter__clear-filter {
        display: none;
    }
    .js-smart-filter-shadow {
        display: none;
    }
    .wrap_result__sort {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .upd_catalog .upd_catalog_body .wrap_filter .filter_head {
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .wrap_result__sort .sort_btn {
        order: 1;
    }
    .upd_catalog .upd_catalog_body {
        margin-top: 16px;
        display: flex;
        gap: 32px;
    }
    .upd_catalog .upd_catalog_body .wrap_filter {
        width: 337px;
    }
    .upd_catalog .upd_catalog_body .wrap_filter .filter_body {
        margin-top: 16px;
    }
    .upd_catalog .upd_catalog_body .wrap_filter .filter_body > form  {
        padding: 16px;
    }
    .upd_catalog .upd_catalog_body .wrap_result {
        width: 100%;
        margin-top: 0;
    }
    .upd_catalog .upd_catalog_body .wrap_result .block_sort {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .upd_catalog .upd_catalog_body .wrap_result .block_sort .count_all_items {
        margin-top: 0;
    }
    .upd_catalog .upd_catalog_body .wrap_result .selected_param {
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;
    }
    .upd_catalog .upd_catalog_body .wrap_result .selected_param .btn_param {
        flex: none;
    }

    
    .upd_catalog .upd_catalog_body .wrap_result .no_items {
        padding: 106px 16px;
    }
    .upd_catalog .upd_catalog_body .wrap_result .catalog_items {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }

    .smartfilter {
        border-radius: 16px;
    }
}

@media (min-width: 1200px) {
    .catalog-slider__scrollbar {
        display: none;
    }
    .catalog-slider__nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 12px;
        position: absolute;
        right: 0;
        bottom: calc(100% + 28px);
    }
    .upd_catalog .upd_catalog_body .wrap_result .catalog_items {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
/*-------------------upd_catalog end----------------------*/


/*-------------------accessory----------------------*/
.upd_catalog .upd_catalog_body .wrap_result .accessory_items {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(158px,1fr));
    gap: 12px;
}
@media only screen and (min-width:1000px) {
    .upd_catalog .upd_catalog_body .wrap_result .accessory_items {
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 20px;
    }
}
/*-------------------accessory end----------------------*/