/*-------------------questions_inline----------------------*/
.questions_inline {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
}
.questions_inline .content {
    position: relative;
    width: 100%;
    max-width: 460px;
    background: var(--main-color-Grey1);
    border-radius: 32px;
    padding: 32px 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.questions_inline .content::after {
    content: "";
    width: 296px;
    height: 258px;
    background: url(../../images/img_questions.png) no-repeat;
    background-size: contain;
    align-self: center;
}
.questions_inline .content .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.questions_inline .content .text .desc {
    font-size: 16px;
    line-height: 24px;
}
@media only screen and (min-width:900px) {
    .questions_inline {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .questions_inline .content {
        height: unset;
        min-height: 293px;
        max-width: unset;
        justify-content: center;
        padding: 48px 0 48px 64px;
        gap: 32px;
    }
    .questions_inline .content::after {
        width: 436px;
        height: 427px;
        right: 0;
        bottom: 0;
        position: absolute;
    }
    .questions_inline .content .text {
        max-width: 600px;
        width: 40%;
    }
    .questions_inline .content .btn a.color_btn {
        display: inline-flex;
        width: unset;
    }
}
@media only screen and (min-width:1200px) {
    .questions_inline .content .text {
        width: 55%;
    }

    .questions_inline .content::after {
        right: 100px;
    }
}
/*-------------------questions_inline end----------------------*/