body.compensate-for-scrollbar {
    overflow: hidden;
}

.fancybox-active {
    height: auto;
}

.fancybox-is-hidden {
    position: absolute !important;
    top: -9999px;
    left: -9999px;
    margin: 0;

    visibility: hidden;
}

.fancybox-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99992;
    width: 100%;
    height: 100%;

    outline: none;
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

.fancybox-container * {
    box-sizing: border-box;
}

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fancybox-outer {
    -webkit-overflow-scrolling: touch;

    overflow-y: auto;
}

.fancybox-bg {
    opacity: 0;
    background: rgb(30, 30, 30);
    transition-duration: inherit;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.fancybox-is-open .fancybox-bg {
    opacity: 0.9;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
    position: absolute;
    z-index: 99997;

    visibility: hidden;
    opacity: 0;
    direction: ltr;
    transition: opacity 0.25s ease, visibility 0s ease 0.25s;
}

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s ease 0s, visibility 0s ease 0s;
}

.fancybox-infobar {
    top: 0;
    left: 0;
    min-width: 44px;
    height: 44px;

    padding: 0 10px;
    color: #CCC;
    font-size: 13px;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 44px;
    mix-blend-mode: difference;
    pointer-events: none;
    user-select: none;
}

.fancybox-toolbar {
    top: 0;
    right: 0;
}

.fancybox-stage {
    z-index: 99994;

    overflow: visible;
    direction: ltr;
    transform: translateZ(0);
}

.fancybox-is-open .fancybox-stage {
    overflow: hidden;
}

.fancybox-slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99994;
    width: 100%;
    height: 100%;

    /* Using without prefix would break IE11 */
    display: none;
    padding: 44px;
    overflow: auto;
    outline: none;
    text-align: center;
    white-space: normal;
    backface-visibility: hidden;
    transition-property: transform, opacity;
    -webkit-overflow-scrolling: touch;
}

.fancybox-slide::before {
    width: 0;
    height: 100%;

    content: "";

    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
    display: block;
}

.fancybox-slide--image {
    padding: 44px 0;
    overflow: hidden;
}

.fancybox-slide--image::before {
    display: none;
}

.fancybox-slide--html {
    padding: 15px;
}

.fancybox-content {
    position: relative;
    max-width: 100%;

    display: inline-block;
    vertical-align: middle;
    overflow: auto;
    text-align: left;
    -webkit-overflow-scrolling: touch;
}

.fancybox-slide--image .fancybox-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99995;
    max-width: none;

    padding: 0;
    overflow: visible;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    backface-visibility: hidden;
    transform-origin: top left;
    transition-property: transform, opacity;
    animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
    user-select: none;
}

.fancybox-can-zoomOut .fancybox-content {
    cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-content {
    cursor: zoom-in;
}

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
    cursor: grab;
}

.fancybox-is-grabbing .fancybox-content {
    cursor: grabbing;
}

.fancybox-container [data-selectable="true"] {
    cursor: text;
}

.fancybox-image,
.fancybox-spaceball {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    margin: 0;

    padding: 0;
    border: 0;
    background: transparent;
    user-select: none;
}

.fancybox-spaceball {
    z-index: 1;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
    width: 100%;
    height: 100%;

    padding: 0;
    overflow: visible;
}

.fancybox-slide--video .fancybox-content {
    background: #000;
}

.fancybox-slide--map .fancybox-content {
    background: #E5E3DF;
}

.fancybox-slide--iframe .fancybox-content {
    background: #FFF;
}

.fancybox-video,
.fancybox-iframe {
    width: 100%;
    height: 100%;
    margin: 0;

    display: block;
    padding: 0;
    overflow: hidden;
    border: 0;
    background: transparent;
}

/* Fix iOS */
.fancybox-iframe {
    position: absolute;
    top: 0;
    left: 0;
}

.fancybox-error {
    width: 100%;
    max-width: 400px;

    cursor: default;

    padding: 40px;
    background: #FFF;
}

.fancybox-error p {
    margin: 0;

    padding: 0;
    color: #444;
    line-height: 20;
}

/* Buttons */

.fancybox-button {
    position: relative;
    width: 44px;
    height: 44px;
    margin: 0;

    visibility: inherit;

    cursor: pointer;

    display: inline-block;
    vertical-align: top;
    padding: 10px;
    border: 0;
    border-radius: 0;
    background: rgba(30, 30, 30, 0.6);
    box-shadow: none;
    transition: color 0.2s;
}

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
    color: #CCC;
}

.fancybox-button:hover {
    color: #FFF;
}

.fancybox-button:focus {
    outline: none;
}

.fancybox-button.fancybox-focus {
    outline: 1px dotted;
}

.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
    cursor: default;

    outline: none;
    color: #888;
}

/* Fix IE11 */
.fancybox-button div {
    height: 100%;
}

.fancybox-button svg {
    position: relative;
    width: 100%;
    height: 100%;

    display: block;
    overflow: visible;
}

.fancybox-button svg path {
    fill: currentColor;
    stroke-width: 0;
}

.fancybox-button--play svg:nth-child(2),
.fancybox-button--fsenter svg:nth-child(2) {
    display: none;
}

.fancybox-button--pause svg:nth-child(1),
.fancybox-button--fsexit svg:nth-child(1) {
    display: none;
}

.fancybox-progress {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99998;
    height: 2px;
    background: #FF5268;
    transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: 0;
    transform-origin: 0;
    transition-property: transform;
    transition-timing-function: linear;
}

/* Close button on the top right corner of html content */
.fancybox-close-small {
    position: absolute;
    top: -44px;
    right: -12px;
    z-index: 401;

    opacity: 0.8;

    cursor: pointer;

    padding: 8px;
    border: 0;
    border-radius: 0;
    background: transparent;
    color: #CCC;
}

.fancybox-close-small:hover {
    opacity: 1;
    color: #FFF;
}

.fancybox-slide--html .fancybox-close-small {
    top: 0;
    right: 0;

    padding: 10px;
    color: currentColor;
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
    overflow: hidden;
}

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
    display: none;
}

/* Navigation arrows */

.fancybox-navigation .fancybox-button {
    position: absolute;
    top: calc(50% - 50px);
    width: 70px;
    height: 100px;

    opacity: 0;
    background-clip: content-box;
}

.fancybox-navigation .fancybox-button div {
    padding: 7px;
}

.fancybox-navigation .fancybox-button--arrow_left {
    left: 0;

    padding: 31px 26px 31px 6px;
}

.fancybox-navigation .fancybox-button--arrow_right {
    right: 0;

    padding: 31px 6px 31px 26px;
}

/* Caption */
.fancybox-caption {
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99996;

    padding: 75px 44px 25px 44px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, rgba(0, 0, 0, 0) 100%);
    color: #EEE;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    pointer-events: none;
}

@supports (padding: max(0px)) {
    .fancybox-caption {
        padding: 75px max(44px) max(25px) max(44px);
    }
}

.fancybox-caption--separate {
    margin-top: -50px;
}

.fancybox-caption__body {
    max-height: 50vh;

    overflow: auto;
    pointer-events: all;
}

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
    color: #CCC;
    text-decoration: none;
}

.fancybox-caption a:hover {
    color: #FFF;
    text-decoration: underline;
}

/* Loading indicator */

.fancybox-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99999;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;

    opacity: 0.7;

    padding: 0;
    border: 4px solid #888;
    border-radius: 50%;
    border-bottom-color: #FFF;
    background: transparent;
    animation: fancybox-rotate 1s linear infinite;
}

@keyframes fancybox-rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* Transition effects */

.fancybox-animated {
    transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--next {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--current {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
    opacity: 0;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
    opacity: 1;
}

/* transitionEffect: zoom-in-out */

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
    opacity: 0;
    transform: rotate(-360deg);
    transform: rotate(-360deg);
}

.fancybox-fx-rotate.fancybox-slide--next {
    opacity: 0;
    transform: rotate(360deg);
    transform: rotate(360deg);
}

.fancybox-fx-rotate.fancybox-slide--current {
    opacity: 1;
    transform: rotate(0deg);
    transform: rotate(0deg);
}

/* transitionEffect: circular */

.fancybox-fx-circular.fancybox-slide--previous {
    opacity: 0;
    transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--next {
    opacity: 0;
    transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--current {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}

/* transitionEffect: tube */

.fancybox-fx-tube.fancybox-slide--previous {
    transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
    transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
    transform: translate3d(0, 0, 0) scale(1);
}

/* Styling for Small-Screen Devices */
@media all and (max-height: 576px) {
    .fancybox-slide {
        padding-right: 6px;
        padding-left: 6px;
    }

    .fancybox-slide--image {
        padding: 6px 0;
    }

    .fancybox-close-small {
        right: -6px;
    }

    .fancybox-slide--image .fancybox-close-small {
        top: 0;
        right: 0;
        width: 36px;
        height: 36px;

        opacity: 1;

        padding: 6px;
        background: #4E4E4E;
        color: #F2F4F6;
    }

    .fancybox-caption {
        padding-right: 12px;
        padding-left: 12px;
    }

    @supports (padding: max(0px)) {
        .fancybox-caption {
            padding-right: max(12px);
            padding-left: max(12px);
        }
    }
}

/* Share */
.fancybox-share {
    max-width: 90%;

    padding: 30px;
    border-radius: 3px;
    background: #F4F4F4;
    text-align: center;
}

.fancybox-share h1 {
    margin: 0 0 20px 0px;
    color: #222;
    font-size: 35px;
    font-weight: 700;
}

.fancybox-share p {
    margin: 0;

    padding: 0;
}

.fancybox-share__button {
    min-width: 130px;
    margin: 0 5px 10px 5px;

    display: inline-block;
    padding: 0 15px;
    border: 0;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    white-space: nowrap;
    transition: all 0.2s;
    user-select: none;
}

.fancybox-share__button:visited,
.fancybox-share__button:link {
    color: #FFF;
}

.fancybox-share__button:hover {
    text-decoration: none;
}

.fancybox-share__button--fb {
    background: #3B5998;
}

.fancybox-share__button--fb:hover {
    background: #344E86;
}

.fancybox-share__button--pt {
    background: #BD081D;
}

.fancybox-share__button--pt:hover {
    background: #AA0719;
}

.fancybox-share__button--tw {
    background: #1DA1F2;
}

.fancybox-share__button--tw:hover {
    background: #0D95E8;
}

.fancybox-share__button svg {
    position: relative;
    top: -1px;
    width: 25px;
    height: 25px;
    margin-right: 7px;

    vertical-align: middle;
}

.fancybox-share__button svg path {
    fill: #FFF;
}

.fancybox-share__input {
    width: 100%;
    margin: 10px 0 0 0;

    padding: 10px 15px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #D7D7D7;
    border-radius: 0;
    background: transparent;
    color: #5D5B5B;
    font-size: 14px;
}

/* Thumbs */

.fancybox-thumbs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99995;
    width: 212px;
    margin: 0;

    display: none;
    padding: 2px 2px 4px;
    background: #DDD;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fancybox-thumbs-x {
    overflow-x: auto;
    overflow-y: hidden;
}

.fancybox-show-thumbs .fancybox-thumbs {
    display: block;
}

.fancybox-show-thumbs .fancybox-inner {
    right: 212px;
}

.fancybox-thumbs__list {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;

    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    font-size: 0;
    white-space: nowrap;
}

.fancybox-thumbs-x .fancybox-thumbs__list {
    overflow: hidden;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
    width: 7px;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #FFF;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #2A2A2A;
}

.fancybox-thumbs__list a {
    position: relative;
    width: 100px;
    max-width: calc(50% - 4px);
    height: 75px;
    max-height: calc(100% - 8px);
    margin: 2px;
    float: left;

    cursor: pointer;

    padding: 0;
    overflow: hidden;
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}

.fancybox-thumbs__list a::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99991;

    opacity: 0;

    content: "";

    border: 6px solid #FF5268;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fancybox-thumbs__list a:focus::before {
    opacity: 0.5;
}

.fancybox-thumbs__list a.fancybox-thumbs-active::before {
    opacity: 1;
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 576px) {
    .fancybox-thumbs {
        width: 110px;
    }

    .fancybox-show-thumbs .fancybox-inner {
        right: 110px;
    }

    .fancybox-thumbs__list a {
        max-width: calc(100% - 10px);
    }
}
